body,html{width: 100%;height: 100%;} *{margin: 0;padding: 0;}  span{display: inline-block;} select{border: 0;background: #f1f1f1;} .Red{color: red;}
.fl{float: left;} .fr{float: right;} .cous{cursor: pointer;}
@font-face {font-family: 'iconfont';
    src: url('../icon/iconfont.eot');
    src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../icon/iconfont.woff') format('woff'),
    url('../icon/iconfont.ttf') format('truetype'),
    url('../icon/iconfont.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

/*Answer主页面*/
.Answer{width: 100%;height: 100%;background: #fff;}

/*头部导航*/
.Answer .A_Nav{max-width:100%;height: 58px;background: #f1f1f1;line-height: 58px;padding-left: 118px;border-bottom: 2px solid #dedede;}
.Answer .A_Nav .bord{border-right: 1px solid #ccc;}
.Answer .A_Nav .mL{margin-left: 108px;}
.Answer .A_Nav .mR{float: right;margin-right: 20px;}
.Answer .A_Nav span{padding: 0 10px;}

/*主内容区*/
.Answer .A_B{width: 1882px;margin: 52px auto;}

/*左侧*/
.Answer .A_L{width: 152px;height: 520px;background: #fff;float: left;}
.Answer .L_ul{text-align: center;border: 1px solid #ccc;position: relative;}
.Answer .L_ul h3{border-bottom: 1px solid #ccc;padding: 16px;}
.Answer .L_ul li a{width: 100%; display: inline-block; padding: 10px 0 ;color: #999;font-size: 16px;text-align:center;}
.Answer .L_ul li a:hover{color: #31bc91;background: #ccc;}
.Answer .L_ul li a.active{color: #31bc91;background: #ccc;}

/*添加题组*/
.Answer .L_ul li .addQ{display:none;position: absolute;z-index:1;left: 100%;top:0;width: 434px;height: auto;border: 1px solid #31bc91;text-align: center;background: #fff;}
.Answer .L_ul li .addQ.active{display:block}
.Answer .L_ul li .addQ h3{background: #31bc91;color: #fff;font-weight: 300;}
.Answer .L_ul li .addQ .pd{width:100%;height:100%;margin-top:7px;}
.Answer .L_ul li .addQ .pd p{margin: 15px 40px;height: 30px;line-height: 30px;}
.Answer .L_ul li .addQ .pd span{float:left;margin-right: 10px;font-size: 16px;color:#666;}
.Answer .L_ul li .addQ .pd input{width: 260px;height: 30px;margin-right: -20px;}
.Answer .L_ul li .addQ .pd input[type="radio"]{
    width: 20px;height: 20px;float: left;margin: 7px 10px 0 20px;
}
.Answer .L_ul li .addQ .pd input[type="radio"]:last-child{
    margin: 7px 10px 0 ;
}
.Answer .L_ul li .addQ .pd .mF{margin-left: -18px;}
.Answer .L_ul li .addQ .pd .hr{width: 352px;margin:30px auto 10px;padding-right: 10px;}
.Answer .L_ul li .addQ .pd button{width: 135px;height: 32px;background: #41d576;font-size: 16px;font-weight: 100;}

/*右侧*/
.Answer .A_R{width:1596px;height:1126px ;padding:38px 38px;border: 4px solid #ededed;float: left;position:relative;box-sizing:border-box;}
.addQ{display:none;position: absolute;left: 100%;top:0;width: 434px;height: 468px;border: 1px solid #31bc91;text-align: center;background: #fff;}
.Answer .A_R .addQ h3{background: #31bc91;color: #fff;font-weight: 300;}
.Answer .A_R .addQ .pd{width:100%;height:100%;margin-top:7px;}
.Answer .A_R .addQ .pd p{margin: 15px 40px;height: 30px;line-height: 30px;}
.Answer .A_R .addQ .pd span{float:left;margin-right: 10px;font-size: 16px;color:#666;}
.Answer .A_R .addQ .pd input{width: 260px;height: 30px;margin-right: -20px;}
.Answer .A_R .addQ .pd .mF{margin-left: -18px;}
.Answer .A_R .addQ .pd .hr{width: 352px;margin:30px auto 10px;padding-right: 10px;}
.Answer .A_R .addQ .pd button{width: 135px;height: 32px;background: #41d576;font-size: 16px;font-weight: 100;}
.Answer .A_R .conten{
    box-sizing: border-box;
    width:1526px;
    /*border:1px solid black;*/
    padding:0 30px;
}
.Answer .A_R .A_Rone{
    position:relative;
}
.Answer .A_R .A_Rone:nth-child(2n){
    float:left;
    margin-left:10px;
}
.Answer .A_R .A_Rone {width:720px;box-sizing:border-box;height:870px;padding: 10px;border: 1px solid #ddd;border-radius: 10px;float:left;position:relative;overflow:hidden}
.Answer .A_R .A_Rone .A_Rone_child table{width: 100%;margin-bottom: 14px;border: 1px solid black;padding:0px 10px;}
.Answer .A_R .A_Rone .A_Rone_child table thead tr th{height: 20px;padding: 10px 5px;font-size: 15px;text-align: left;}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td{height: 20px;padding: 5px 5px;font-size: 12px;}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c {width: 25%;display: inline-block;padding: 5px 0;}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c span {margin-right: 13px;}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c span:first-child{
    width:16.8px;
}
.Answer .A_R .A_Rone > .tips,.Answer .A_R .A_Rtwo > .tips{
    position:absolute;
    width:100%;
    height:30px;
    line-height:30px;
    bottom:0;
    text-align:center;
}
.Answer .A_R .A_Rone:nth-child(2n) .tips_t{
    top:0;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c span b{border: 1px solid black;display: inline-block;width: 14px;height:11px;line-height:11px;text-align: center;font-weight:normal;}
/*顶部学生信息*/
.Answer .student_info{
    margin-top:30px;
    margin-bottom:10px;
}
.Answer .student_info .ermai{
    width:50px;
    height:50px;
    border:2px solid black;
    float:left;
    margin:0 56px;
    margin-left:72px;
    position:relative;
}
.Answer .student_info .ermai img{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.Answer .student_info .person{
    float:left;
    margin-top:80px;
}
.Answer .student_info .person .person_item{
    float: left;
    margin-right:17px;
}
.Answer .student_info .person .person_item span{
    display:inline-block;
}
.Answer .student_info .person .person_item .B_line{
    width:80px;
    border-bottom:1px solid black;
}
/*定位块*/
.Answer .A_R .position_item{
    position:absolute;
    width:30px;
    height:30px;
}
.Answer .A_R .position_item .black_item{
    display:inline-block;
    width:15px;
    height:15px;
    background:black;
    position:absolute;
}
.Answer .A_R .position_item .black_1{
    top:0;
    left:0;
}
.Answer .A_R .position_item .black_1{
    top:15px;
    left:15px;
}
.Answer .A_R .position_TL{
    left:38px;
    top:38px;
}
.Answer .A_R .position_TR{
    right:38px;
    top:38px;
}
.Answer .A_R .position_BL{
    bottom:38px;
    left:38px;
}
.Answer .A_R .position_BR{
    bottom:38px;
    right:38px;
}
/*学生信息*/
.Answer .A_R .A_Rone .school{
    margin-bottom:10px;
}
.Answer .A_R .A_Rone .school .school_title{
    text-align:center;
    padding-bottom:4px;
}
.Answer .A_R .A_Rone .school .student{
    border:1px solid black;
    height:260px;
}
.Answer .A_R .A_Rone .school .student .student_L{
    width:50%;
    height:260px;
    border-right:1px solid black;
    float:left;
}
.Answer .A_R .A_Rone .school .student .student_L .student_number{
    text-align:center;
    height:22px;
    line-height:22px;
}
.Answer .A_R .A_Rone .school .student .student_L .student_number1 ul{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border:1px solid black;
    border-left:none;
    border-right:none;
}
.Answer .A_R .A_Rone .school .student .student_L .student_number1 ul li{
    height:19px;
    width:12.25%;
    border-right:1px solid black;
}
.Answer .A_R .A_Rone .school .student .student_L .student_number1 ul li:last-child{
    border-right:none;
}
.Answer .A_R .A_Rone .school .student .student_L .student_number3{
    display:flex;
    justify-content: space-between;
}
.Answer .A_R .A_Rone .school .student .student_L .student_number3 ul{
    width:12.25%;
}
.Answer .A_R .A_Rone .school .student .student_L .student_number3 ul li{
    width:18px;
    height:11px;
    border:1px solid black;
    text-align:center;
    line-height:11px;
    margin:8px auto;
}
.Answer .A_R .A_Rone .school .student .student_R{
    width:49%;
    height:260px;
    float:left;
}
.Answer .A_R .A_Rone .school .student .student_R .bar_code{
    width:100%;
}
.Answer .A_R .A_Rone .school .student .student_R .bar_code .code_box_dashed{
    margin:30px auto;
    padding:10px;
    border:1px dashed black;
    border-radius:4px;
    width:180px;
}
.Answer .A_R .A_Rone .school .student .student_R .bar_code .code_box_dashed .code_box_line{
    padding:10px;
    border:1px solid #ccc;
    border-radius:4px;
    text-align:center;
}
.Answer .A_R .A_Rone .school .student .student_R .tips{
    margin-left:20px;
}
.Answer .A_R .A_Rone .school .student .student_R .tips p span{
    width:18px;
    height:8px;
    background:black;
    display:inline-block;
    line-height:18px;
}
.Answer .A_R .A_Rone .school .student .student_R .tips p:last-child span{
    margin-right:10px;
}
.Answer .A_R .A_Rone .school .student .student_R .tips p:last-child span:nth-of-type(1){
     background:url("../img/tips_error_1.gif") no-repeat;
 }
.Answer .A_R .A_Rone .school .student .student_R .tips p:last-child span:nth-of-type(2){
    background:url("../img/tips_error_2.gif") no-repeat;
}
.Answer .A_R .A_Rone .school .student .student_R .tips p:last-child span:nth-of-type(3){
    background:url("../img/tips_error_3.gif") no-repeat;
}
.Answer .A_R .A_Rone .school .student .student_R .tips p:last-child span:nth-of-type(4){
    background:url("../img/tips_error_4.gif") no-repeat;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c span{
    display:inline-block;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c span.numBerNo_1{
    width:16px;
    text-align:center;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c span.fill_line{
    width:180px;
    border-bottom:1px solid black;
}
/*网络阅卷打分框*/
.Answer .A_R .A_Rone .A_Rone_child table tr .marking a{
    display: inline-block;
    width: 23px;
    height:12px;
    border:1px solid black;
    float:left;
    margin-right:10px;
    text-align:center;
    line-height:12px;
    font-size: 12px;
    color: black;
    font-weight: normal;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c a{
    width:23px;
    height:12px;
    border:1px solid black;
    display:inline-block;
    margin-right:4px;
}
/*其他题*/

.Answer .A_R .A_Rone .A_Rone_child table tbody .other_c{
    width:100%;
    height:150px;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody .other_h{
    width:100%;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody .other_h .other_number{
    width:24px;
    height: 12px;
    float:left;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody .other_h .marking{
    float:left;
}
/*写作题*/
.Answer .L_ul li .addQ .pd .writItem{
    margin-bottom:14px;
}
.Answer .L_ul li .addQ .pd .writItem p{
    display:inline-block;
    float:left;
}
/*语文作文题*/
.Answer .A_R .A_Rone .A_Rone_child table .chinese{
    margin-bottom:2px;
}
.Answer .A_R .A_Rone .A_Rone_child table .chinese:last-child{
    border-bottom:1px solid black;
}
.Answer .A_R .A_Rone .A_Rone_child table .chinese .plaid{
    width:32px;
    height:33px;
    border:1px solid black;
    border-right:0px;
    border-bottom:0px;
}
.Answer .A_R .A_Rone .A_Rone_child table .chinese .chinese_row .plaid:last-child{
    border-right:1px solid black;
}
/*英语作文题*/
.Answer .A_R .A_Rone .A_Rone_child table .english .english_line{
    width:100%;
    border-bottom:1px solid black;
    height:40px;
}
/*单词间隔线*/
.Answer .A_R .A_Rone .A_Rone_child table .en_word .word_itme{
    width:76px;
    border-bottom:1px dashed black;
    height:40px;
    float:left;
    margin-right:10px;
}
.Answer .A_R .A_Rone .A_Rone_child table .en_word .word_itme:nth-of-type(8n){
    margin-right:0px;
}
.Answer .L_ul li .addQ .pd .writItem p:first-child{
    width:30%;
    margin:0;
    height:auto;
    text-align:left;
    color: #666;
    font-size:16px;
    padding-left:40px;
    box-sizing:border-box;
}
.Answer .L_ul li .addQ .pd .writItem p:last-child{
    width:50%;
    margin:0;
    height:auto;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format{
    width:50%;
    height:auto;
    float:left;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme{
    height:40px;
    line-height:40px;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme > input[type="radio"]{
    margin:0;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme input[type="radio"]{
    float:left;
    display:inline-block;
    height:40px;
    line-height:40px;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme:nth-of-type(1) span{
    float:left;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme:nth-of-type(2) span:last-child{
    display:inline-block;
    width: 80px;
    border-top:1px solid black;
    margin-top:20px;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme:nth-of-type(3) span:last-child{
    display:inline-block;
    width: 80px;
    border-top:1px dashed black;
    margin-top:20px;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix{
    width:79px;
    height:28px;
    border:1px solid black;
    float: left;
    margin-top:5px;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix .matrix_item{
    width:15px;
    height:14px;
    border:1px solid black;
    float:left;
    border-left:0;
    border-top:0;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix .matrix_item:nth-of-type(6),
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix .matrix_item:nth-of-type(7),
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix .matrix_item:nth-of-type(8),
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix .matrix_item:nth-of-type(9),
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix .matrix_item:nth-of-type(10)
{
    border-bottom:0;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix .matrix_item:nth-of-type(5),
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix .matrix_item:nth-of-type(10)
{
    border-right:0;
}
/***************************************************************************************************/
/*设置答题卡*/
.nomal{
    padding:0;
    padding:0px 24px;
}
.nomal .mian-cont .bigquestion .q_title{
    margin:10px 0px;
}
.nomal .mian-cont .bigquestion .q_title p{
    padding-left:4px;
    text-align: left;
}
.nomal .mian-cont .bigquestion{
    margin-bottom:20px;
}
.nomal .mian-cont .bigquestion:last-child{
    margin-bottom:0;
}
.nomal .mian-cont .bigquestion .q_content .set_q_item{
    margin-bottom:10px;
    margin-right:10px;
}
.nomal .mian-cont .bigquestion .q_content .set_q_item .set_number{
    width:30px;
    height:20px;
    line-height:20px;
    text-align: center;
    padding-left: 4px;
    padding-bottom: 7px;
    box-sizing: border-box;
    border:1px solid #31bc91;
    margin:0px 4px;
}
.nomal .mian-cont .bigquestion .q_content .set_q_item .scoer{
    width:20px;
    padding-left:3px;
}
.nomal .mian-cont .bigquestion .q_content .set_q_item .scoer_wx{
    height:20px;
    line-height:20px;
}
.nomal .mian-cont .bigquestion .q_content .set_q_item .set_number input{
    width:100%;
    height:100%;
    border:none;
    color: #31bc91;
}
.nomal .mian-cont .bigquestion .q_content .set_q_item .scoer input{
    color:black;
}
.nomal .mian-cont .bigquestion .q_content .set_q_item .set_options_itme .child_option_itme{
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    margin-right:10px;
}
.nomal .mian-cont .bigquestion .q_content .set_q_item .set_options_itme .child_option_itme.active{
    background:#31bc91;
    color: #fff;
}
/*设置答题卡按钮组*/
.answer .btns{
    width:100%;
    height:60px;
    border-top:1px solid #31bc91;
    text-align:left;
    line-height:60px;
}
.answer .btns a{
    display:inline-block;
    width:20px;
    height:20px;
    border:1px solid #31bc91;
    margin-top:18px;
    float:left;
}
.answer .btns span{
    float:left;
}
.answer .btns .a_page{
    width:100px;
    height:30px;
    text-align:center;
    line-height:30px;
    border:1px solid black;
    margin-top:14px;
}
.answer .btns .add{
    margin:0px 30px;
    margin-right:0px;
}
.answer .btns .sub{
    margin:0px 30px;
}
.answer .btns .show_score{
    margin-right:30px;
}
.answer .btns .prev{
    margin-right:30px;
}
.answer .btns .btnsa{
    position:relative;
    width:20px;
    height:20px;
    border:1px solid #31bc91;
    margin-top:18px;
}
.answer .btns .btnsa i{
    display:block;
    width:20px;
    height:20px;
    position:absolute;
    text-align:center;
    top:-20px;
    left:0px;
    color:#31bc91;
}
.answer .btns .a_page.disabled{
    background:#eee;
}
/*题组排序*/
.setSort .sort_head span{
    display:inline-block;
    width:33.3%;
    height:30px;
    line-height:30px;
    overflow:hidden;
}
.setSort .sort_con .sort_itme{
    border:1px solid #eee;
    margin-bottom:10px;
}
.setSort .sort_con .sort_itme.active{
    background:#eee;
}
.setSort .sort_con .sort_itme span{
    width:32.3%;
    line-height:30px;
}
.setSort .set_sort_big_btn{
    padding:15px 0px;
}
.setSort .set_sort_big_btn a{
    display:inline-block;
    width:100px;
    height:30px;
    border:1px solid #31bc91;
    text-align:center;
    color: #31bc91;
    line-height:30px;
}
.setSort .set_sort_big_btn .confirm a{
    margin-left:20px;
    background:#31bc91;
    color:#fff;
}
