body,html{width: 100%;height: 100%;} *{margin: 0;padding: 0;}  span{display: inline-block;} select{border: 0;background: #f1f1f1;} .Red{color: red;}
.fl{float: left;} .fr{float: right;} .cous{cursor: pointer;}

/*@font-face {font-family: 'iconfont';*/
    /*src: url('../icon/iconfont.eot');*/
    /*src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'),*/
    /*url('../icon/iconfont.woff') format('woff'),*/
    /*url('../icon/iconfont.ttf') format('truetype'),*/
    /*url('../icon/iconfont.svg#iconfont') format('svg');*/
/*}*/

/*.iconfont{*/
    /*font-family:"iconfont" !important;*/
    /*font-size:16px;font-style:normal;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-webkit-text-stroke-width: 0.2px;*/
    /*-moz-osx-font-smoothing: grayscale;}*/

/*Answer主页面*/
.Answer{width: 100%;height: 100%;background: #fff;}
/*div{*/
    /*box-sizing: border-box;*/
/*}*/
/*头部导航*/
.Answer .A_Nav{height: 58px;background: #f1f1f1;line-height: 58px;padding-left: 118px;border-bottom: 2px solid #dedede;}
.Answer .A_Nav .bord{border-right: 1px solid #ccc;}
.Answer .A_Nav .mL{margin-left: 108px;}
.Answer .A_Nav .mR{margin-left: 100px;}
.Answer .A_Nav span{padding: 0 10px;cursor:pointer}

/*主内容区*/
.Answer .A_B{width: 1882px;margin: 52px auto;}

/*左侧*/
.Answer .A_L{width: 152px;background: #fff;float: left;}
.Answer .L_ul{text-align: center;border: 1px solid #ccc;position: relative;}
.Answer .L_ul li{
    cursor:pointer;
}
.Answer .L_ul h3{border-bottom: 1px solid #ccc;padding: 16px;}
.Answer .L_ul li a{width: 100%; display: inline-block; padding: 10px 0 ;color: #999;font-size: 16px;text-align:center;}
.Answer .L_ul li a:hover{color: #31bc91;background: #ccc;}
.Answer .L_ul li a.active{color: #31bc91;background: #ccc;}

/*添加题组*/
.Answer .L_ul li .addQ{display:none;position: absolute;z-index:1;left: 100%;top:0;width: 434px;height: auto;border: 1px solid #31bc91;text-align: center;background: #fff;}
.Answer .L_ul li .addQ.active{display:block}
.Answer .L_ul li .addQ h3{background: #31bc91;color: #fff;font-weight: 300;}
.Answer .L_ul li .addQ .pd{width:100%;height:100%;margin-top:7px;}
.Answer .L_ul li .addQ .pd p{margin: 15px 40px;height: 30px;line-height: 30px;}
.Answer .L_ul li .addQ .pd span{float:left;margin-right: 10px;font-size: 16px;color:#666;}
.Answer .L_ul li .addQ .pd input{width: 260px;height: 30px;margin-right: -20px;}
.Answer .L_ul li .addQ .pd input[type="radio"]{
    width: 20px;height: 20px;float: left;margin: 7px 10px 0 20px;
}
.Answer .L_ul li .addQ .pd input[type="radio"]:last-child{
    margin: 7px 10px 0 ;
}
.Answer .L_ul li .addQ .pd .mF{margin-left: -18px;}
.Answer .L_ul li .addQ .pd .hr{width: 352px;margin:30px auto 10px;padding-right: 10px;}
.Answer .L_ul li .addQ .pd button{width: 135px;height: 32px;background: #41d576;font-size: 16px;font-weight: 100;}

/*右侧*/
.Answer .A_R.pd{
    padding-left:96px;
    padding-right:96px;
}
.Answer .A_R{width:1700px;height:1200px ;padding:38px 170px;border: 4px solid #ededed;float: left;position:relative;box-sizing:border-box;}
.addQ{display:none;position: absolute;left: 100%;top:0;width: 434px;height: 468px;border: 1px solid #31bc91;text-align: center;background: #fff;}
.Answer .A_R .addQ h3{background: #31bc91;color: #fff;font-weight: 300;}
.Answer .A_R .addQ .pd{width:100%;height:100%;margin-top:7px;}
.Answer .A_R .addQ .pd p{margin: 15px 40px;height: 30px;line-height: 30px;}
.Answer .A_R .addQ .pd span{float:left;margin-right: 10px;font-size: 16px;color:#666;}
.Answer .A_R .addQ .pd input{width: 260px;height: 30px;margin-right: -20px;}
.Answer .A_R .addQ .pd .mF{margin-left: -18px;}
.Answer .A_R .addQ .pd .hr{width: 352px;margin:30px auto 10px;padding-right: 10px;}
.Answer .A_R .addQ .pd button{width: 135px;height: 32px;background: #41d576;font-size: 16px;font-weight: 100;}
.Answer .A_R .conten{
    box-sizing: border-box;
    width:1526px;
    /*border:1px solid black;*/
    padding:0 30px;
}
.Answer .A_R .A_Rone{
    position:relative;
}
.Answer .A_R .A_Rone:nth-child(2n){
    float:left;
    margin-left:10px;
}
.Answer .A_R .A_Rone {width:720px;box-sizing:border-box;height:1000px;padding: 10px;border: 1px solid #ddd;border-radius: 10px;float:left;position:relative;overflow:hidden}
.Answer .A_R .A_Rone .A_Rone_child table{cursor:pointer;}
.Answer .A_R .A_Rone .A_Rone_child table{width: 100%;margin-bottom: 4px;border: 1px solid black;padding:0px 10px;}
.Answer .A_R .A_Rone .A_Rone_child table thead tr th.Group_title{
    height: 20px;
    font-size: 12px;
    text-align: left;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td{height: 20px;font-size: 12px;}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c {width: 25%;display: inline-block;padding: 5px 0;}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .fill_itme{
    padding:0px;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c span {margin-right: 11px;}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c span:first-child{
    width:16.8px;
}
.Answer .A_R .A_Rone > .tips,.Answer .A_R .A_Rtwo > .tips{
    position:absolute;
    width:100%;
    height:30px;
    line-height:30px;
    bottom:0;
    text-align:center;
}
.Answer .A_R .A_Rone:nth-child(2n) .tips_t{
    top:0;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c span b{border: 1px solid black;display:block;width: 14px;height:11px;line-height:11px;text-align: center;font-weight:normal;}
/*顶部学生信息*/
.Answer .student_info{
    margin-top:30px;
    margin-bottom:10px;
}
.Answer .student_info .ermai{
    width:50px;
    height:50px;
    border:2px solid black;
    float:left;
    margin:0 56px;
    margin-left:72px;
    position:relative;
}
.b0{
   float:right !important;
}
.Answer .student_info .ermai.fr{
    float:right!important;
}
.Answer .student_info .ermai img{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.Answer .student_info .person{
    float:left;
    margin-top:40px;
}
.Answer .student_info .person.location_left{
    transform: rotate(-90deg);
    position: absolute;
    left: -185px;
    top: 500px;
}
.Answer .student_info .person.location_left_f{
    top:720px;
}
.Answer .student_info .person .person_item{
    float: left;
    margin-right:17px;
}
.Answer .student_info .person .person_item span{
    display:inline-block;
}
.Answer .student_info .person .person_item .B_line{
    width:80px;
    border-bottom:1px solid black;
}
/*定位块*/
.Answer .A_R .position_item{
    position:absolute;
    width:30px;
    height:30px;
}
.Answer .A_R .position_item .black_item{
    display:inline-block;
    width:15px;
    height:15px;
    background:black;
    position:absolute;
}
.Answer .A_R .position_item .black_1{
    top:0;
    left:0;
}
.Answer .A_R .position_item .black_1{
    top:15px;
    left:15px;
}
.Answer .A_R .position_TL{
    left:0px;
    top:0px;
}
.Answer .A_R .position_TR{
    right:0px;
    top:0px;
}
.Answer .A_R .position_BL{
    bottom:0px;
    left:0px;
}
.Answer .A_R .position_BR{
    bottom:0px;
    right:0px;
}
/*学生信息*/
.Answer .A_R .A_Rone .school{
    margin-bottom:10px;
}
.Answer .A_R .A_Rone .school .school_title{
    text-align:center;
    padding-bottom:4px;
}
.Answer .A_R .A_Rone .school .student{
    border:1px solid black;
    height:260px;
}
.Answer .A_R .A_Rone .school .student .student_L{
    width:50%;
    height:260px;
    border-right:1px solid black;
    float:left;
}
.Answer .A_R .A_Rone .school .student .student_L .student_number{
    text-align:center;
    height:22px;
    line-height:22px;
}
.Answer .A_R .A_Rone .school .student .student_L .student_number1 ul{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border:1px solid black;
    border-left:none;
    border-right:none;
}
.Answer .A_R .A_Rone .school .student .student_L .student_number1 ul li{
    height:19px;
    width:12.25%;
    border-right:1px solid black;
}
.Answer .A_R .A_Rone .school .student .student_L .student_number1 ul li:last-child{
    border-right:none;
}
.Answer .A_R .A_Rone .school .student .student_L .student_number3{
    display:flex;
    justify-content: space-between;
}
.Answer .A_R .A_Rone .school .student .student_L .student_number3 ul{
    width:12.25%;
}
.Answer .A_R .A_Rone .school .student .student_L .student_number3 ul li{
    width:18px;
    height:11px;
    border:1px solid black;
    text-align:center;
    line-height:11px;
    margin:8px auto;
}
.Answer .A_R .A_Rone .school .student .student_R{
    width:49%;
    height:260px;
    float:left;
}
.Answer .A_R .A_Rone .school .student .student_R .bar_code{
    width:100%;
}
.Answer .A_R .A_Rone .school .student .student_R .bar_code .code_box_dashed{
    margin:30px auto;
    padding:10px;
    border:1px dashed black;
    border-radius:4px;
    width:180px;
}
.Answer .A_R .A_Rone .school .student .student_R .bar_code .code_box_dashed .code_box_line{
    padding:10px;
    border:1px solid #ccc;
    border-radius:4px;
    text-align:center;
}
.Answer .A_R .A_Rone .school .student .student_R .tips{
    margin-left:20px;
}
.Answer .A_R .A_Rone .school .student .student_R .tips p span{
    width:18px;
    height:8px;
    background:black;
    display:inline-block;
    line-height:18px;
}
.Answer .A_R .A_Rone .school .student .student_R .tips p:last-child span{
    margin-right:10px;
}
.Answer .A_R .A_Rone .school .student .student_R .tips p:last-child span:nth-of-type(1){
     background:url("../img/tips_error_1.gif") no-repeat;
 }
.Answer .A_R .A_Rone .school .student .student_R .tips p:last-child span:nth-of-type(2){
    background:url("../img/tips_error_2.gif") no-repeat;
}
.Answer .A_R .A_Rone .school .student .student_R .tips p:last-child span:nth-of-type(3){
    background:url("../img/tips_error_3.gif") no-repeat;
}
.Answer .A_R .A_Rone .school .student .student_R .tips p:last-child span:nth-of-type(4){
    background:url("../img/tips_error_4.gif") no-repeat;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c span{
    display:inline-block;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c span.numBerNo_1{
    width:16px;
    text-align:center;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c span.fill_line span:first-child{
    width:230px;
    border-bottom:1px solid black;
    display:inline-block;
    margin-right:0px;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c span.fill_line span:last-child{
    margin-right:0px;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c span.fill_line{
    margin-right:0px;
}
/*网络阅卷打分框*/
.Answer .A_R .A_Rone .A_Rone_child table tr .marking a{
    display: inline-block;
    width: 23px;
    height:12px;
    border:1px solid black;
    float:left;
    margin-right:10px;
    text-align:center;
    line-height:12px;
    font-size: 12px;
    color: black;
    font-weight: normal;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .q_c a{
    width:23px;
    height:12px;
    border:1px solid black;
    display:inline-block;
    margin-right:4px;
}
/*其他题*/

.Answer .A_R .A_Rone .A_Rone_child table tbody .other_c{
    width:100%;
    height:150px;
    position:relative;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody .other_c img{
    position:absolute;
    /*top:10px;*/
    /*right:0px;*/
    /*height:140px;*/
}
.Answer .A_R .A_Rone .A_Rone_child table tbody .other_h{
    width:100%;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody .other_h .other_number{
    /*width:24px;*/
    height: 12px;
    float:left;
}
/*.Answer .A_R .A_Rone .A_Rone_child table tbody .other_h .other_number.show_score{*/
    /*width:60px;*/
/*}*/
.Answer .A_R .A_Rone .A_Rone_child table tbody .other_h .marking{
    float:left;
}
/*写作题*/
.Answer .L_ul li .addQ .pd .writItem{
    margin-bottom:14px;
}
.Answer .L_ul li .addQ .pd .writItem p{
    display:inline-block;
    float:left;
}
/*语文作文题*/
.Answer .A_R .A_Rone .A_Rone_child table .chinese{
    margin-bottom:2px;
}
.Answer .A_R .A_Rone .A_Rone_child table .chinese:last-child{
    width:652px;
    border-bottom:1px solid black;
}
.Answer .A_R .A_Rone .A_Rone_child table .chinese .plaid{
    width:30px;
    height:29px;
    border:1px solid black;
    border-right:0px;
    border-bottom:0px;
}
.Answer .A_R .A_Rone .A_Rone_child table .chinese .chinese_row .plaid:last-child{
    border-right:1px solid black;
}
/*英语作文题*/
.Answer .A_R .A_Rone .A_Rone_child table .english .english_line{
    width:100%;
    border-bottom:1px solid black;
    height:35px;
}
/*单词间隔线*/
.Answer .A_R .A_Rone .A_Rone_child table .en_word .word_itme{
    width:75px;
    border-bottom:1px dashed black;
    height:35px;
    float:left;
    margin-right:10px;
}
.Answer .A_R .A_Rone .A_Rone_child table .en_word .word_itme:nth-of-type(8n){
    margin-right:0px;
}
.Answer .L_ul li .addQ .pd .writItem p:first-child{
    width:30%;
    margin:0;
    height:auto;
    text-align:left;
    color: #666;
    font-size:16px;
    padding-left:40px;
    box-sizing:border-box;
}
.Answer .L_ul li .addQ .pd .writItem p:last-child{
    width:50%;
    margin:0;
    height:auto;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format{
    width:50%;
    height:auto;
    float:left;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme{
    height:40px;
    line-height:40px;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme > input[type="radio"]{
    margin:0;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme input[type="radio"]{
    float:left;
    display:inline-block;
    height:40px;
    line-height:40px;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme:nth-of-type(1) span{
    float:left;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme:nth-of-type(2) span:last-child{
    display:inline-block;
    width: 80px;
    border-top:1px solid black;
    margin-top:20px;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme:nth-of-type(3) span:last-child{
    display:inline-block;
    width: 80px;
    border-top:1px dashed black;
    margin-top:20px;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix{
    width:79px;
    height:28px;
    border:1px solid black;
    float: left;
    margin-top:5px;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix .matrix_item{
    width:15px;
    height:14px;
    border:1px solid black;
    float:left;
    border-left:0;
    border-top:0;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix .matrix_item:nth-of-type(6),
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix .matrix_item:nth-of-type(7),
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix .matrix_item:nth-of-type(8),
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix .matrix_item:nth-of-type(9),
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix .matrix_item:nth-of-type(10)
{
    border-bottom:0;
}
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix .matrix_item:nth-of-type(5),
.Answer .L_ul li .addQ .pd .writItem .writ_format .formatItme .matrix .matrix_item:nth-of-type(10)
{
    border-right:0;
}
/***************************************************************************************************/
/*设置答题卡*/
.nomal{
    padding:0;
    padding:0px 24px;
}
.nomal .mian-cont .bigquestion .q_title{
    margin:10px 0px;
}
.nomal .mian-cont .bigquestion .q_title p{
    padding-left:4px;
    text-align: left;
}
.nomal .mian-cont .bigquestion{
    margin-bottom:20px;
}
.nomal .mian-cont .bigquestion:last-child{
    margin-bottom:0;
}
.nomal .mian-cont .bigquestion .q_content .set_q_item{
    margin-bottom:10px;
    margin-right:10px;
}
.nomal .mian-cont .bigquestion .q_content .set_q_item .set_number{
    width:30px;
    height:20px;
    line-height:20px;
    text-align: center;
    padding-left: 4px;
    padding-bottom: 7px;
    box-sizing: border-box;
    border:1px solid #31bc91;
    margin:0px 4px;
}
.nomal .mian-cont .bigquestion .q_content .set_q_item .scoer{
    width:35px;
    padding-left:3px;
}
.nomal .mian-cont .bigquestion .q_content .set_q_item .scoer_wx{
    height:20px;
    line-height:20px;
}
.nomal .mian-cont .bigquestion .q_content .set_q_item .set_number input{
    width:79%;
    height:100%;
    border:none;
    color: #31bc91;
}
.nomal .mian-cont .bigquestion .q_content .set_q_item .scoer input{
    color:black;
}
.nomal .mian-cont .bigquestion .q_content .set_q_item .set_options_itme .child_option_itme{
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    margin-right:10px;
    cursor:pointer;
}
.nomal .mian-cont .bigquestion .q_content .set_q_item .set_options_itme .child_option_itme.active{
    background:#31bc91;
    color: #fff;
}
/*设置答题卡按钮组*/
.answer .btns{
    width:100%;
    height:60px;
    border-top:1px solid #31bc91;
    text-align:left;
    line-height:60px;
}
.answer .btns a{
    display:inline-block;
    width:20px;
    height:20px;
    border:1px solid #31bc91;
    margin-top:18px;
    float:left;
}
.answer .btns span{
    float:left;
}
.answer .btns .a_page{
    width:100px;
    height:30px;
    text-align:center;
    line-height:30px;
    border:1px solid black;
    margin-top:14px;
    cursor:pointer;
}
.answer .btns .add{
    margin:0px 30px;
    margin-right:0px;
}
.answer .btns .sub{
    margin:0px 30px;
}
.answer .btns .show_score{
    margin-right:30px;
}
.answer .btns .prev{
    margin-right:30px;
}
.answer .btns .btnsa{
    position:relative;
    width:20px;
    height:20px;
    border:1px solid #31bc91;
    margin-top:18px;
    cursor:pointer;
}
.answer .btns .btnsa i{
    display:block;
    width:20px;
    height:20px;
    position:absolute;
    text-align:center;
    top:-20px;
    left:0px;
    color:#31bc91;
}
.answer .btns .a_page.disabled{
    background:#eee;
}
/*题组排序*/
.setSort .sort_head span{
    display:inline-block;
    width:33.3%;
    height:30px;
    line-height:30px;
    overflow:hidden;
}
.setSort .sort_con .sort_itme{
    border:1px solid #eee;
    margin-bottom:10px;
    cursor:pointer;
}
.setSort .sort_con .sort_itme.active{
    background:#eee;
}
.setSort .sort_con .sort_itme span{
    width:32.3%;
    line-height:30px;
}
/*.setSort .sort_con .sort_itme span:nth-of-type(2){*/
    /*overflow: hidden;*/
    /*text-overflow:ellipsis;*/
    /*white-space: nowrap;*/
/*}*/
.setSort .set_sort_big_btn{
    padding:15px 0px;
}
.setSort .set_sort_big_btn a{
    display:inline-block;
    width:100px;
    height:30px;
    border:1px solid #31bc91;
    text-align:center;
    color: #31bc91;
    line-height:30px;
}
.setSort .set_sort_big_btn .confirm a{
    margin-left:20px;
    background:#31bc91;
    color:#fff;
    cursor:pointer;
}
/****/
.modal-scroll{
    height:600px;
    overflow: auto;
    overflow-x: hidden
}

.paper{
    display: none !important;
}
.paperno{
    display: none !important;
}
/*导入模板样式*/
.Answer .L_ul li .import{
    width:400px;
}
.Answer .L_ul li .import select{
    width:260px;
}
.Answer .L_ul li .import input{
    margin-right:0px !important;
}
.Answer .L_ul li .addQ .pd .importBtn{
    width:90px;
}
.Answer .L_ul li .addQ .pd .cancel{
    background:#ccc;
}
/*右击菜单功能*/
#menu{
    width:200px;
    height:auto;
    background:#fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border:1px solid #eeeeee;
    position: absolute;
    z-index: 1000;
    display:none;
}
#menu ul li{
    height: 32px;
    line-height: 32px;
    text-align: left;
    font-size: 14px;
    padding-left:24px;
    cursor:pointer;
}
#menu ul li:hover{
    background:#e1e1e1;
}
.cand{
    width:360px;
    height:130px;
    background:#fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border:1px solid #eeeeee;
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index: 1000;
    display:none;
    font-size: 16px;
    font-weight:bold;
}
.cand .cand_title{
    padding:10px 0px;
    text-align:center;
    background:#31bc91;
    color:#fff;
}
.cand .cand_con{
    padding:5px 20px;
}
.cand .cand_con p:first-child
{
    height:30px;
    line-height:30px;
    margin-right:20px;
}
.cand .cand_con p:last-child input{
    height:30px;
    line-height:30px;
    width:228px;
}
.cand .cand_btn{
    margin-top:10px;
}
.cand .cand_btn a{
    padding:6px 18px;
    background:#fff;
    border:1px solid #eee;
    font-size: 12px;
    color: #000;
    border-radius:4px;
    float: right;
    margin-right:20px;
    cursor:pointer;
}
.cand .cand_close{
    position:absolute;
    right:10px;
    top:10px;
    cursor: pointer;
    color:#fff;
}
input{
    border:1px solid #eee;
    padding-left:6px;
}
input:focus{
    padding-left:6px;
    border:1px solid #31bc91;
}
.table_focus{
    border:1px solid #31bc91!important;
}
.pic_box{
    height:180px;
}
.pic_box .cand_con{
    margin-bottom:4px;
}
.pic_box input[type="file"]{
    height: auto !important;
    line-height:0px !important;
    padding:8px 0px;
    padding-left:6px;
}
/*下标*/
.Answer .A_R .A_Rone .A_Rone_child table .chinese .plaid,
.Answer .A_R .A_Rone .A_Rone_child table .en_word .word_itme
{
    position:relative;
}
.Answer .A_R .A_Rone .A_Rone_child table .chinese .plaid span,
.Answer .A_R .A_Rone .A_Rone_child table .en_word .word_itme span
{
    position: absolute;
    right: 0px;
    bottom: -6px;
    transform: scale(0.9);
}
/*************修改填空题格式******************/
.setFill_q{
    height:auto;
    width:700px;
}
.setFill_q .cand_con ul li{
    width:100%;
    line-height:24px;
    font-weight:normal;
    font-size:12px;
}
.setFill_q .cand_con ul li > div{
    float:left;
}
.setFill_q .cand_con ul li .fill_width{
    margin:0 5px;
}
.setFill_q .cand_con ul li input{
    width:40px;
}
.setFill_q .cand_con ul li .fill_width input{
    width:155px;
}
.setFill_q .cand_con ul li .fill_separator input{
    width:200px;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody tr td .other_line{
    height:20px;
    width:100%;
    border-bottom:1px solid #000000
}
.Answer .A_R .A_Rone .A_Rone_child table.hideTab{
    border-color: #fff;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody .other_box{
    border-bottom:1px solid #000000;
}
.Answer .A_R .A_Rone .A_Rone_child table tbody .other_box:last-child{
    border-bottom:none;
    border-bottom-style:none!important;
}
.full_line{
    border-bottom-style: solid!important;
}
.dashed_line{
    border-bottom-style: dashed!important;
}
.hide_line{
    border:none!important;
}
.set_sort_btn .sort_prev,
.set_sort_btn .sort_next
{
    width:50px;
    height:22px;
    line-height:22px;
    color:#31bc91;
    border-radius:4px;
    border:1px solid #31bc91;
    text-align:center;
    margin-right:10px;
}
.set_sort_btn .sort_prev a,
.set_sort_btn .sort_next a{
    color:#31bc91;
}
.imgFormat .img_info li{
    float:left;
    margin-right:6px;
}
.imgFormat .img_info li span{
    font-size: 14px;
    font-weight: normal;
}
.imgFormat .img_info input{
    width:24px;
}
/*左侧考号*/
.Answer .A_R .candidate{
    width:120px;
    border:1px solid #000;
    border-top:none;
    position:absolute;
    top:170px;
    left:34px;
}
.Answer .A_R .candidate .full_card ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid black;
    border-left: none;
    border-right: none;
}
.Answer .A_R .candidate .full_card ul li{
    width:20%;
    height: 19px;
    border-right: 1px solid black;
}
.Answer .A_R .candidate .full_card ul li:last-child{
    border-right:none;
}
.Answer .A_R .candidate .full_card_number{
    display: flex;
    justify-content: space-between;
}
.Answer .A_R .candidate .full_card_number ul{
    width:20%;
}
.Answer .A_R .candidate .full_card_number ul li{
    width: 10px;
    height: 11px;
    border: 1px solid black;
    text-align: center;
    line-height: 11px;
    margin: 8px auto;
}
/******单面测试和双面测试*********/
.bindLine{
    position:absolute;
    width:1px;
    height:1200px;
    border-left:1px dashed #000;
    top:0px;
}
.bindLine.single{
    right:100px;
}
.Answer .student_info .person.location_left.single{
    right:-185px;
    left:inherit;
    transform: rotate(90deg);
    top:600px;
}
.Answer .A_R.single{
    padding-left:80px;
}
.left_bar_code{
    width: 120px;
    height:50px;
    border: 1px dashed #000;
    position: absolute;
    top:450px;
    left: 34px;
    border-radius:4px;
    padding:10px;
    box-sizing:border-box;
}
.left_bar_code .left_bar_code_inside{
    border:1px solid #ccc;
    text-align:center;
    height:100%;
    line-height:25px;
}
/********************语文试卷样式***************/
/*table thead tr:last-child{*/
    /*display:none!important;*/
/*}*/
/*table{*/
    /*margin-bottom:0px !important;*/
    /*border-bottom:none;*/
/*}*/
/*table:last-child{*/
    /*border-bottom:1px solid #000;*/
/*}*/
/*.english_line{*/
    /*height:0px;*/
/*}*/
/*.Answer .A_R .A_Rone .A_Rone_child table .english .english_line{*/
    /*height:18px;*/
/*}*/
/*.Answer .A_R .A_Rone .A_Rone_child table thead tr th{*/
    /*padding-top:0px;*/
/*}*/