.content{
	width: 1200px;
	margin: 0 auto;
	padding-top: 52px;
}
.content div{
	display: inline-block;
	margin-bottom: 36px;
	margin-right: 37px;
	width: 360px;
	height: 210px;
	position: relative;
}

.content a{
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
}

.content a:hover{
	top: -10px;
	left: -10px;
	width: 380px;
	height: 230px;
}



.test-assembly{
	background-image: url('../img/test-assembly.png');
	background-size: 100% 100%;
}
.marking{
	background-image: url('../img/marking.png');
	background-size: 100% 100%;
}
.report-form{
	background-image: url('../img/report-form.png');
	background-size: 100% 100%;
}
.mistakes-collection{
	background-image: url('../img/mistakes-collection.png');
	background-size: 100% 100%;
}
.questions{
	background-image: url('../img/questions.png');
	background-size: 100% 100%;
}
.iconfont-size{
	font-size: 14px;
}















