body{
	background: #f5f5f5;
}
/* 当前定位部分 */
.title-box{
	width: 100%;
	border-bottom: 1px solid #e6e6e6;
	background: #fff;
}
.title-box .title{
	height: 39px;
	line-height: 39px;
	font-size: 14px;
	color: #999;
}
.title-box .title a{
	font-size: 14px;
	color: #999;
}
.title-box .title span{
	color: #31bc91;
}
/* 中间内容部分 */
.content-box{
	padding-bottom: 50px;
}
.content{
	margin-top: 24px;
	margin-bottom: 50px;
	background: #fff;
	overflow: hidden;
	height: auto;
	border: 1px solid #e6e6e6;
	-webkit-box-shadow: 0 0 10px #e6e6e6;
  -moz-box-shadow: 0 0 10px #e6e6e6;
  box-shadow: 0 0 10px #e6e6e6;
	/* box-shadow: 3px 3px 6px #e6e6e6; */
}
.content .test-list{
	width: 298px;
	border-right: 1px solid #e6e6e6;
	overflow: hidden;
}
.test-list .title{
	height: 39px;
	line-height: 39px;
	color: #999;
	font-size: 16px;
	border-bottom: 1px solid #e6e6e6;
	padding: 5px 20px;
	box-shadow: 0 2px 6px #e6e6e6;
}
.test-list .title .name{
	float: left;
}
.test-list .title .new-test{
	float: right;
	cursor: pointer;
}
.new-test a{
	color: #5fa3ed;
}
.new-test i{
	position: relative;
	top: 1px;
	padding-right: 6px;
}
/* .shadow{
	width: 298px;
	height: 4px;
	background: url('../img/shadow.png');
} */
.list-cont{
	padding: 5px 16px;
}
.list-cont .row{
	position: relative;
}
.row input{
	width: 258px;
	padding: 10px 4px;
	font-size: 14px;
	border: none;
	border-bottom: 1px solid #e6e6e6;
}
.row i{
	color: #ccc;
	position: absolute;
	right: 3px;
	bottom: 11px;
	cursor: pointer;
}
.list-ul{
	overflow: auto;
	margin-top: 10px;
}
.list-ul li{
	width: 196px;
	height: 37px;
	padding: 13px 20px;
	border: 1px solid #ccc;
	border-left-width: 4px;
	margin-top: 13px;
	line-height: 20px;
	cursor: pointer;
}
.list-ul li.active{
	border-color: #31bc91;
}
.list-ul li .name{
	width: 196px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #666;
	font-size: 14px;
}
.list-ul li .time{
	font-size: 12px;
	color: #999;
}
/* 右边内容 */
.main-cont{
	width: 852px;
	padding: 20px 24px;
}
.title-name{
	clear: both;
	height: 42px;
	font-size: 16px;
	color: #2daa82;
	line-height: 42px;
	background: #dcf5f0;
	padding-left: 20px;
	position: relative;
}
#right-btn{
	position: absolute;
	right: 20px;
	top: 0;
}
#right-btn a{
	color: #31bc91;
	font-size: 14px;
	margin-left: 20px;
}
#right-btn a i{
	padding-right: 6px;
}
.test-info{
	padding-bottom: 5px;

}
.test-info .title{
	line-height: 14px;
	font-weight: bold;
	border-left: 3px solid #31bc91;
	margin: 20px 0;
}
.test-info .title h6{
	font-size: 14px;
	color: #666;
	padding-left: 8px;
}
.test-info .rows{
	margin-bottom: 20px;
}
.test-info .border{
	padding-bottom: 20px;
	border-bottom: 1px solid #e6e6e6;
}
.rows label{
	display: inline-block;
	width: 70px;
	color: #666;
	font-size: 14px;
	vertical-align: top;
	position: relative;
	top: 4px;
}
.rows input[type="text"]{
	border: 1px solid #ccc;
	padding-left: 5px;
	padding-right: 5px;
	background: #fafafa;
	font-size: 14px;
	color: #666;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
.rows input.text-input{
	width: 500px;
	height: 28px;
}
.rows .test-name{
	min-width: 330px;
	height: 28px;
	width: 500px;

}
.rows select{
	width: 200px!important;
	height: 28px;
	font-size: 14px;
	color: #666;
	outline: none;
	border: 1px solid #ccc;
}
.rows .grade-name{
	width: 188px!important;
	height: 28px;
	font-size: 14px;
	color: #666;
	outline: none;
	border: 1px solid #ccc;
}
.rows-right{
	margin-left: 40px;
}
.rows .class{
	display: inline-block;
	width: 776px;
	font-size: 14px;
	margin-left: -10px;
}
.rows .edit{
	position: relative;
	left: -35px;
	top: 1px;
	color: #5fa3ed;
	cursor: pointer;
}
.border-focus{
	border: 1px solid #31bc91!important;
}
.rows .class li{
	display: inline-block;
	text-align: center;
	width: 64px;
	height: 26px;
	line-height: 24px;
	margin-left: 10px;
	margin-bottom: 10px;
	color: #fff;
	background: #dcdcdc;
	cursor: pointer;
}
.finished {
	opacity: .6;
}
/* 复选框 */
.check-box{
  display: inline-block;
  width: 20px;
  position: relative;
  z-index: 9;
}
.check-box label {
  cursor: pointer;
  position: absolute;
  width: 56px;
  height: 26px;
  top: 0;
  left: -22px;
  color: #fff;
  background: #dcdcdc;
  text-align: left;
  padding-left: 8px;
  line-height: 26px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.check-box label:after {
  opacity: 1;
  content: '';
  position: absolute;
  width: 11px;
  height: 5px;
  background: transparent;
  top: 7px;
  right: 8px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.check-box input[type=checkbox]{
  visibility: hidden;
}
.check-box input[type=checkbox]:checked + label{
  background: #31bc91;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.check-box input[type=checkbox]:checked + label:after {
  opacity: 1;
}
span.group-name{
	position: relative;
  top: 8px;
  color: #fff;
  left: -17px;
  z-index: 9;
}
.alert-info{
	color: red;
}

.rows .class li.on{
	background: #31bc91;
}
.class li i{
	font-size: 12px;
	padding-left: 6px;
}
.rows button{
	width: 68px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
}
.rows .submit{
	background: url('../img/btn-bg.jpg');
}
.rows .cancel{
	background: #fff;
	color: #31bc91;
	border: 1px solid #31bc91;
	margin-left: 15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
.subject-info{
	font-size: 14px;
	color: #666;

}
.subject-info .title {
	position: relative;
}
.subject-info .title a.new-create{
	position: absolute;
	left: 75px;
	top: -6px;
	padding: 5px 10px 6px;
	line-height: 12px;
	text-align: center;
	color: #5fa3ed;
	border: 1px solid #5fa3ed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
a.new-create i{
	font-size: 12px;
}
table.subject-list,table.look-table{
	width: 100%;
	border: 1px solid #cccccc;
	border-bottom: none;
}
table.subject-list thead,table.look-table thead{
	background: #f5f5f5;
}
table.subject-list tr{
	line-height: 40px;
	text-align: left;
	text-indent: 12px;
}
table.subject-list td, table.subject-list th{
	border-bottom: 1px solid #ccc;

}
table.subject-list .subject-name{

}
table.subject-list .count{
	color: #999;
}
.operation a{
	margin-right: 20px;
	cursor: pointer;
}
.operation .set{
	color: #5fa3ed;
}
.operation .sign{
	color: #31bc91;
}
.operation .dele{
	color: #fb7d8a;
}
.operation i{
	padding-right: 6px;
}
.hide{
	display: none;
}

/* 试卷设置 */
.set-top{
	margin-top: 20px;
	color: #666;
	font-size: 14px;
}
.set-top .total{
	font-size: 14px;
}
.set-top .total em{
	color: #fb7d8a;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
}
.btn-group a{
	display: inline-block;
	width: 80px;
	height: 28px;
	text-align: center;
	line-height: 30px;
	color: #31bc91;
	margin-left: 8px;
	border: 1px solid #31bc91;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
.btn-group .answer-card{
	color: #fff;
	background-image: -webkit-linear-gradient(left, #44d971, #31bc92);
	background-image: -o-linear-gradient(left, #44d971, #31bc92);
	background-image: linear-gradient(to right, #44d971, #31bc92);
}
.item-list{
	margin-top: 20px;

}
.item-list .item{
	border: 1px solid #ccc;
}
.item-list .item .item-title{
	background: #f5f5f5;
	height: 44px;
	line-height: 44px;
	padding-left: 12px;
	border-bottom: 1px solid #ccc;
}
.item-title h6{
	font-size: 16px;
	color: #333;
	font-weight: normal;
}
.op-group{
	margin-right: 15px;
}
.op-group > li{
	font-size: 14px;
	color: #666;
	display: inline-block;
	margin-left: 30px;
}
.op-group > li a {
	font-size: 14px;
	cursor: pointer;
}
.op-group > li a i{
	padding-right: 6px;
}
.edit-info{
	color: #5fa3ed;
}
.insert-group{
	color: #31bc91;
}
.dele-item{
	color: #fb7d8a;
}
.item-label{
	padding-right: 5px;
}
#index{
	width: 60px;
	height: 25px;
	outline: none;
	background: #fff;
}

/* 权限分配 */
#sign-subject .back{
	cursor: pointer;
}
table.look-table tr{

}
table.look-table td, table.look-table th{
	border-bottom: 1px solid #ccc;
	padding: 6px 12px;
	line-height: 24px;
}
.look-teacher-info{
	font-size: 14px;
  color: #666;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}
.look-table a.key-add {
  padding: 3px 5px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin-left: 5px;
  color: #5fa3ed;
  border: 1px solid #5fa3ed;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.look-table tbody{
	color: #999;
}
a.key-add i{
	font-weight: normal;
	font-size: 12px;
	padding-right: 5px;
}
.teacher-list{
	margin-left: -6px;
	margin-bottom: -6px;
}
.teacher-list li{
	float: left;
	/* width: 80px; */
	height: 26px;
	line-height: 26px;
	margin-left: 6px;
	margin-bottom: 6px;
	padding: 0 10px;
	text-indent: 0;
}
.teacher-list li.on{
	color: #fff;
	background: #31bc91;
}
.teacher-list li i{
	cursor: pointer;
	font-size: 12px;
	padding-left: 5px;
}
.add{
	float: left;
	padding: 0 6px;
	line-height: 25px;
	font-size: 14px;
	color: #31bc91;
	margin-left: 5px;
	text-align: center;
	border: 1px solid #31bc91;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.add i{
	font-size: 12px;
	padding-right: 6px;
}
.btns{
	margin-top: 30px;
}
/* 弹窗内容 */
.mian-cont{
	text-align: left;
	font-size: 14px;
	color: #666;
	padding-bottom: 18px;
}
.h6{
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
}
.modal-subject{
	padding-top: 20px;
	padding-bottom: 20px;

}
.dele-cont a{
	color: #31bc91;
}
.modal-subject .left_name{
	display: inline-block;
	width: 60px;
	text-align: center;
	vertical-align: top;
	position: relative;
	top: 2px;
}
.modal-subject ul{
	margin-left: -10px;
	display: inline-block;
	width: 435px;
}
.modal-subject ul li{
	display: inline-block;
	width: 42px;
	height: 26px;
	margin-left: 27px;
	margin-bottom: 10px;
	/* background: #dcdcdc; */
}
.modal-subject ul li.on{
	background: #31bc91;
}
/* 添加老师弹框样式 */
.select-row{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.select-row .one{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.select-row .one select{
	width: 128px;
	height: 28px;
	font-size: 14px;
  color: #666;
  outline: none;
  border: 1px solid #ccc;
  background: #fafafa;
}
.select-row .one label{
	padding-right: 5px;
}
.select-row .one input{
	width: 200px;
	height: 28px;
	border: 1px solid #ccc;
  padding-left: 5px;
  background: #fafafa;
  font-size: 14px;
  color: #666;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.select-row .one .search-teacher{
	position: relative;
	right: 30px;
	cursor: pointer;
	color: #ccc;
}
.teacher-content{
	margin-top: 20px;
	margin-bottom: 10px;

}
/* 左边待选老师 */
.tecaher-left{
	width: 318px;
	border:1px solid #ccc;
}
.teacher-title{
	position: relative;
	border-bottom: 1px solid #ccc;
	padding: 12px 15px;
	background: #fafafa;
}
.teacher-title h6{
	font-size: 14px;
	font-weight: bold;
}
.all-box{
	position: absolute;
	top: 14px;
	right: 15px;
}
.teacher-left-list{
	padding: 0 15px;
	height: 294px;
	overflow: auto;
}
.teacher-left-list li{
	margin-bottom: 15px;
}
.teacher-left-list li:first-child{
	margin-top: 15px;
}
/* 右边已经选择老师 */
.teacher-right{
	width: 318px;
	border:1px solid #ccc;
}
.teacher-right-list{
	padding: 12px 15px;
	height: 270px;
	overflow: auto;
	margin-left: -10px;
}
.teacher-right-list li{
	float: left;
	/* width: 80px; */
	height: 26px;
	line-height: 26px;
	text-align: center;
	background: #31bc91;
	color: #fff;
	padding: 0 8px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.teacher-right-list li i{
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	margin-left: 5px;
	cursor: pointer;
}