html,body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{
	margin:0;
	padding:0
}
html,body{
	font-size: 12px;
	font-family: 'arial','Microsoft Yahei', '微软雅黑';
  /* font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  height: 100%;
}
img{
	display: block;
}
a{
	text-decoration: none;
	color:#666;
}
input{
	outline: none;
}
ul{
  list-style: none;
}
.clear:after{
  clear:both;
  content:'';
  display:block;
  width: 0;
  height: 0;
  visibility:hidden;
}

@font-face {
  font-family: 'iconfont';  /* project id 308672 */
  src: url('//at.alicdn.com/t/font_snz9pp7pt8hhncdi.eot');
  src: url('//at.alicdn.com/t/font_snz9pp7pt8hhncdi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_snz9pp7pt8hhncdi.woff') format('woff'),
  url('//at.alicdn.com/t/font_snz9pp7pt8hhncdi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_snz9pp7pt8hhncdi.svg#iconfont') format('svg');
}


.iconfont{
  font-family:"iconfont";
  font-size:16px;
  font-style:normal;
}

.no-margin-right{
  margin-right: 0 !important;
}



#wrap{
  position: relative;
  min-width: 1200px;
  height: 100%;
  min-height: 800px;
}


#footer{
  background: #fff;
  text-align: center;
  height: 50px;
  width: 100%;
  line-height: 50px;
  border-top: 1px solid #999;
  color: #999;
  position: absolute;
  left: 0;
  bottom: 0;
}


#header{
  position: relative;
  background: #31bc91;
  height: 50px;
  width: 100%;
}
.logo{
  position: absolute;
  top: 9px;
  left: -130px;
}
.navbar{
  position: relative;
  margin: 0 auto;
  width: 1200px;
}
.navbar ul li{
  float: left;
  width: 150px;
  height: 100%;
}
.navbar ul{
  display: inline-block;
  margin-top: 10px;
  height: 30px;
  border-right: 1px solid #32af82;
  border-left: 1px solid #32af82;
}
.navbar ul li a{
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  display: block;
  width: 100%;
  height: 30px;
  text-align: center;
  border-right: 1px solid #32af82;
  border-left: 1px solid #32af82;
}

.navbar a:hover{
  color: red;
}


.nav-right{
  position: absolute;
  right: 10px;
  line-height: 32px;
  font-size: 16px;
  top: 9px;
}
.nav-right div{
  float: left;
}

.news,.supervise{
  color: #fff;
  width: 94px;
}
.information{
  position: relative;
}

.longin-username{
  background: #fff;
  color: #333;
  text-align: center;
  border-radius: 14px;
  height: 32px;
  padding: 0 15px;
  cursor:pointer;
}

.dropdown{
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
}
.dropdown ul{
  width: 190px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #fff;
}
.dropdown ul li{
  padding: 0 10px;
  font-size: 14px;
}

.triangle-down{
  display: inline-block;
  margin-bottom: 2px;
}



@media screen and (max-width: 1450px) {
  .navbar li{
    width: 120px !important;
  }
  .navbar{
    left: 75px;
    max-width:1070px; 
  }
}

.login-animation{
  text-align:'center';
  line-height:'302px';
  -moz-animation:rotate 5s infinite linear;
  -webkit-animation:rotate 5s infinite linear;
  animation:rotate 5s infinite linear;
}


@-moz-keyframes rotate{
  0%{
    -moz-transform:rotateY(0deg);
   }
   100%{
     -moz-transform:rotateY(360deg);
   }
}
@-webkit-keyframes rotate{
  0%{
    -webkit-transform:rotateY(0deg);
   }
   100%{
     -webkit-transform:rotateY(360deg);
   }
}
@keyframes rotate{
  0%{
    transform:rotateY(0deg);
   }
   100%{
     transform:rotateY(360deg);
   }
}




