<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit" />
    <title>答题卡</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/Answer.css" />
    <script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/angular.min.js"></script>
</head>

<body ng-app="answer" ng-controller="answer">
    <div class="Answer" id="Answer">
        <!-- 工具栏头部 -->
        <header>
            <div class="total_score">
                <div class="info">
                    <span>总分:</span>
                    <span ng-bind="data.countScore">0</span>
                    <span>分</span>
                </div>
                <div class="print iconfont" ng-click="print()">&#xe688;</div>
            </div>
            <div class="tool">
                <div class="tool_list">
                    <ul>
                        <li>
                            <select name="" id="">
                                <option value="">普通考试</option>
                                <option value="">特殊考试</option>
                            </select>
                        </li>
                        <li>
                            <select name="" id="">
                                <option value="">识别考号</option>
                                <option value="">识别条码</option>
                            </select>
                        </li>
                        <li>
                            <select name="" id="">
                                <option value="">有边框</option>
                                <option value="">无边框</option>
                            </select>
                        </li>
                        <li>
                            <select name="" id="">
                                <option value="">手工阅卷</option>
                                <option value="">网络阅卷</option>
                            </select>
                        </li>
                        <li>
                            <select name="" id="">
                                <option value="">隐藏分数</option>
                                <option value="">显示分数</option>
                            </select>
                        </li>
                        <li>
                            <select name="" id="">
                                <option value="">单面打印</option>
                                <option value="">双面打印</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="save">
                    <div class="btn_save" ng-click="save()">保存</div>
                    <div class="btn_cloes" ng-click="closeWindow()">X</div>
                </div>
            </div>
        </header>
        <!-- 主体部分 -->
        <div class="main clear">
            <!-- 左边菜单 -->
            <div class="left_menu">
                <div class="group_menu">
                    <h3>添加题组</h3>
                    <ul>
                        <li ng-click="showQuestioModel(0)">选择题</li>
                        <li ng-click="showQuestioModel(1)">判断题</li>
                        <li ng-click="showQuestioModel(2)">填空题</li>
                        <li ng-click="showQuestioModel(3)">作文题</li>
                        <li ng-click="showQuestioModel(4)">其他题</li>
                    </ul>
                    <div class="sub_menu">
                        <div class="sub_title">
                            <h4>添加题组</h4>
                            <span ng-click="cloesQuestionMode()">x</span>
                        </div>
                        <div class="sub_content">
                            <div class="meun_list">
                                <span>题组名称</span>
                                <input type="text" placeholder="请输入题组名称" ng-model="model.name">
                            </div>
                            <div class="meun_list" ng-show="showIndex==0||showIndex==1||showIndex==2||showIndex==4">
                                <span>试题数量</span>
                                <input type="text" placeholder="请输入试题数量" ng-model="model.number">
                            </div>
                            <div class="meun_list" ng-show="showIndex==0">
                                <span>试题类型</span>
                                <div class="question_type">
                                    <input type="radio" ng-checked="model.isradio==1" ng-click="checkbox(1)">
                                    <span>单选题</span>
                                    <input type="radio" ng-checked="model.isradio==2" ng-click="checkbox(2)">
                                    <span>多选题</span>
                                </div>
                            </div>
                            <div class="meun_list" ng-show="showIndex==3">
                                <span>试题总分</span>
                                <input type="text" placeholder="请输入题组总分" ng-model="model.w_totalscore">
                            </div>
                            <div class="meun_list zuo" ng-show="showIndex==3">
                                <span>作文板式</span>
                                <div class="writ_format">
                                    <div class="formatItme clearfix">
                                        <input type="radio" ng-checked="model.isradio==3" ng-click="checkbox(3)">
                                        <span class="mg">语文作文方格</span>
                                        <div class="matrix">
                                            <div class="matrix_item"></div>
                                            <div class="matrix_item"></div>
                                            <div class="matrix_item"></div>
                                            <div class="matrix_item"></div>
                                            <div class="matrix_item"></div>
                                            <div class="matrix_item"></div>
                                            <div class="matrix_item"></div>
                                            <div class="matrix_item"></div>
                                            <div class="matrix_item"></div>
                                            <div class="matrix_item"></div>
                                        </div>
                                    </div>
                                    <div class="formatItme clearfix">
                                        <input type="radio" ng-checked="model.isradio==4" ng-click="checkbox(4)">
                                        <span class="mg">外语作文行线</span>
                                        <span></span>
                                    </div>
                                    <div class="formatItme clearfix">
                                        <input type="radio" ng-checked="model.isradio==5" ng-click="checkbox(5)">
                                        <span class="mg">单词间隔行线</span>
                                        <span></span>
                                    </div>
                                    <div class="formatItme clearfix">
                                        <input type="radio" ng-checked="model.isradio==6" ng-click="checkbox(6)">
                                        <span class="mg">跨页</span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="meun_list" ng-show="showIndex==3&&model.isradio==3">
                                <span>作文格数</span>
                                <input type="text" placeholder="请输入作文总格数" ng-model="model.gridnumber">
                            </div>
                            <div class="meun_list" ng-show="showIndex==3&&model.isradio==4">
                                <span>格子行数</span>
                                <input type="text" placeholder="请输入格子行数" ng-model="model.linenumber">
                            </div>
                            <div class="meun_list" ng-show="showIndex==3&&model.isradio==5">
                                <span>单词个数</span>
                                <input type="text" placeholder="请输入单词个数" ng-model="model.wordnumber">
                            </div>
                            <div class="meun_list" ng-show="showIndex==0||showIndex==1||showIndex==2||showIndex==3||showIndex==4">
                                <span>起始序号</span>
                                <input type="text" placeholder="请输入起始序号" ng-model="model.startnumber">
                            </div>
                            <div class="meun_list" ng-show="showIndex==0||showIndex==1||showIndex==2||showIndex==4">
                                <span>每题分值</span>
                                <input type="text" placeholder="请输入每题分值" ng-model="model.itemscore">
                            </div>
                            <div class="meun_list" ng-show="showIndex==0">
                                <span>选项个数</span>
                                <input type="text" placeholder="请输入选项个数" ng-model="model.count">
                            </div>
                        </div>
                        <div class="sub_button">
                            <a href="javascript:void(0)" ng-click="add()">确认添加</a>
                        </div>
                    </div>
                </div>
                <div class="group_menu">
                    <h3>模板设置</h3>
                    <ul>
                        <li>导入模板</li>
                        <li>另存为模板</li>
                    </ul>
                </div>
            </div>
            <!-- 主体部分 -->
            <div class="content">
                <div class="page" ng-repeat="page in data.pages" ng-init="pageIndex = $index">
                    <!-- 定位点开始 -->
                    <div class="point">
                        <span></span>
                        <span></span>
                    </div>
                    <div class="point">
                        <span></span>
                        <span></span>
                    </div>
                    <div class="point">
                        <span></span>
                        <span></span>
                    </div>
                    <div class="point">
                        <span></span>
                        <span></span>
                    </div>
                    <!-- 切割区域开始 -->
                    <div class="content_pages">
                        <!-- 学校/班级/姓名/座位号区域 -->
                        <div class="student_hand">
                            <div class="erwei">
                                <img src="../img/erwei.jpg" alt="">
                            </div>
                            <div class="hand_line">
                                <span>学校:_________________</span>
                                <span>班级:_________________</span>
                                <span>姓名:_________________</span>
                                <span>座位号:_________________</span>
                            </div>
                        </div>
                        <!-- 试卷AB面盒子 -->
                        <div class="paper">
                            <div class="paper_A item">
                                <div class="paper_title {{pageIndex==0?'':'notice_t'}}">{{pageIndex==0?data.subject.name+'答题纸':'请在各题的答题区域作答,超出黑色矩形边框限定区域的答案无效'}}</div>
                                <div class="notice">请在各题的答题区域作答,超出黑色矩形边框限定区域的答案无效</div>
                                <!-- 学生填图区域 -->
                                <div class="student_daub" ng-if="pageIndex==0">
                                    <div class="student_daub_l">
                                        <div class="candidate_wei">
                                            考生号
                                        </div>
                                        <div class="candidate_write">
                                            <ul>
                                                <li ng-repeat="item in examNum" ng-style="{width:100/examNum.length+'%'}"></li>
                                            </ul>
                                        </div>
                                        <div class="candidate_daub">
                                            <ul ng-repeat="item in examNum">
                                                <li ng-repeat="item in [0,1,2,3,4,5,6,7,8,9]" ng-bind="item"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="student_daub_r">
                                        <div class="bar_code">
                                            <div class="code_box_dashed">
                                                <div class="code_box_line">
                                                    <p>贴条形码区</p>
                                                    <p>(正常正常正常正常正常正常)</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tips">
                                            <ul>
                                                <h3>注意事项</h3>
                                                <li>1.请在框线区域作答，密封线内答题无效</li>
                                                <li>2.请使用标准的2B铅笔填涂，避免无法识别和修改</li>
                                                <li>3.请将正确选择框填满</li>
                                            </ul>
                                            <p>正确填涂方法
                                                <span></span>
                                            </p>
                                            <p>错误填涂方法
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- 题型开始 -->
                                <div class="question" ng-repeat="item in page.listA" ng-init="questionIndex=$index" ng-click="questionFocus(questionIndex)"
                                    ng-class="{focus:questionIndex==FocusIndex}">
                                    <!-- 公共标题 -->
                                    <div class="question_title">
                                        <p ng-bind="item.name"></p>
                                    </div>
                                    <!-- 打分框排除/单选择/判断题/多选题/其他题 -->
                                    <div class="mark clear" ng-if="item.type!=0&&item.type!=1&&item.type!=5&&item.type!=4">
                                        <span ng-repeat="mark in marks track by $index" ng-bind="mark"></span>
                                    </div>
                                    <!-- 选择题/判断题/多选题 -->
                                    <div class="question_0 clear common" ng-if="item.type==0||item.type==1||item.type==5">
                                        <div class="xuze clear" ng-repeat="child_q in item.arrStartnNmber track by $index" ng-init="itemIndex=$index">
                                            <!-- 一个小题 -->
                                            <div class="number" ng-bind="child_q<10?'0'+child_q:child_q">01</div>
                                            <!-- 序号 -->
                                            <div class="xuze_item clear">
                                                <span ng-repeat="option in item.options" ng-bind="option"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 填空题 -->
                                    <div class="question_1 clear common" ng-if="item.type==2">
                                        <!-- 一个小题 -->
                                        <div class="tiankong">
                                            <!-- 序号 -->
                                            <div class="error_laber"></div>
                                            <!--错题标记框-->
                                            <div class="number">01</div>
                                            <div class="tikong_item">
                                                <p>这是一个填空题__________ , _____________________________________________</p>
                                            </div>
                                        </div>
                                        <div class="tiankong">
                                            <!-- 序号 -->
                                            <div class="error_laber"></div>
                                            <!--错题标记框-->
                                            <div class="number">01</div>
                                            <div class="tikong_item">
                                                <p>这是一个填空题__________ , _____________________________________________</p>
                                            </div>
                                        </div>
                                        <div class="tiankong">
                                            <!-- 序号 -->
                                            <div class="error_laber"></div>
                                            <!--错题标记框-->
                                            <div class="number">01</div>
                                            <div class="tikong_item">
                                                <p>这是一个填空题__________ , _____________________________________________</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 作文题 -->
                                    <div class="question_2 clear common" ng-if="item.type==3">
                                        <!-- 作文方格 -->
                                        <div class="grid" ng-if="item.isradio==3">
                                            111
                                        </div>
                                        <!-- 外语横线 -->
                                        <div class="line" ng-if="item.isradio==4">
                                            <div class="line_item" ng-repeat="line in item.repeatLine"></div>
                                        </div>
                                        <!-- 单词间隔线 -->
                                        <div class="word" ng-if="item.isradio==5">
                                            <div class="word_item" ng-repeat="word in item.repeatLine" ng-init="wordindex=$index">
                                                <span ng-if="wordindex==49 || wordindex==59" ng-bind="wordindex+1"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 其他题 -->
                                    <div class="question_3 common" ng-if="item.type==4">
                                        <div class="other" ng-repeat="child_q in item.arrStartnNmber track by $index" ng-init="itemIndex=$index">
                                            <!--其他题头部-->
                                            <div class="other_header">
                                                <div class="number" ng-bind="child_q<10?'0'+child_q+'、':child_q+'、'"></div>
                                                <div class="score">({{item.itemscoreS[itemIndex]}}分)</div>
                                                <!-- 打分框 -->
                                                <div class="mark clear" ng-if="item.type!=0&&item.type!=1&&item.type!=5">
                                                    <span ng-repeat="mark in marks track by $index" ng-bind="mark"></span>
                                                </div>
                                            </div>
                                            <!--其他题内容-->
                                            <div class="other_body"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="paper_B item">
                                <div class="notice">请在各题的答题区域作答,超出黑色矩形边框限定区域的答案无效</div>
                                <div class="notice">请在各题的答题区域作答,超出黑色矩形边框限定区域的答案无效</div>
                            </div>
                        </div>
                    </div>
                    <!-- 切割区域结束 -->
                </div>
            </div>
        </div>
    </div>

    <script src="js/Answer.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>