<div>
	<div style="">
<div class="right_01"><span style="" class="exam_z_b">试卷命题和质量</span></div>
<div class="exam_z_101">
<span style="">年级
<select class="exam_z_km01">
     </select>
		</span>
<span style="">班级
<select class="exam_z_km02">

     </select>
		</span>
		<span style="">科目
<select class="exam_z_km03">
     </select>
		</span>
<button type="" class="determine">导出报表</button>
</div>
<div class="exam_z_tab">
<div class="exam_z_102">
<table cellspacing="0" border="1" bordercolor="#cccccc">
  
<thead>
  <tr class="exam_z_102_he"></tr>
</thead>
  <tbody class="exam_z_102_bo">
    
  </tbody>
  
  	</table>
</div>
<!-- 各科逐题质量分析 -->
<div class="exam_z_201">
<table cellspacing="0" border="1" bordercolor="#cccccc">
  <tr>    
    <th>题目</th>
    <th>题号</th>
     <th>题分</th>
     <th>满分人数</th>
    <th>0分人数</th>
    <th>班级平均分</th>
    <th>班级得分率</th>
    <th>年级平均分</th>
    <th>年级得分率</th>
     <th>得分率差</th>
    <th>难度</th>
    <th>区分度</th>
  </tr>
  <tr>
    <td>一、填空题</td>
    <td>1</td>
     <td>3</td>
     <td>2</td>
     <td>2</td>
    <td>6</td>
    <td>66.7%</td>
     <td>3</td>
     <td>50%</td>
    <td>0.6</td>
    <td>0.4</td>
    <td>0.4</td>    
  </tr>
<tr>
      <td>一、填空题</td>
    <td>1</td>
     <td>3</td>
     <td>2</td>
     <td>2</td>
    <td>6</td>
    <td>66.7%</td>
     <td>3</td>
     <td>50%</td>
    <td>0.6</td>
    <td>0.4</td>
    <td>0.4</td>    
  </tr>
  </tr>
<tr>
    <td>一、填空题</td>
    <td>1</td>
     <td>3</td>
     <td>2</td>
     <td>2</td>
    <td>6</td>
    <td>66.7%</td>
     <td>3</td>
     <td>50%</td>
    <td>0.6</td>
    <td>0.4</td> 
    <td>0.4</td>   
  </tr>
  </tr>
<tr>
    <td>一、填空题</td>
    <td>1</td>
     <td>3</td>
     <td>2</td>
     <td>2</td>
    <td>6</td>
    <td>66.7%</td>
     <td>3</td>
     <td>50%</td>
    <td>0.6</td>
    <td>0.4</td>
    <td>0.4</td>    
  </tr>
  </tr>
  	</table>
</div>
<!-- 难度系数变化图 -->
<div class="exam_z_301">
<div class="exam_z_302">
<ul>
	<li>难题：难度系数≤0.4</li>
	<li>中档题：0.4<难度系数< 0.7   </li>
	<li>简单题：难度系数≥0.7</li>
</ul>
</div>
<span class="exam_z_302_s01">试题难度系数变化曲线图</span>
<div id="exam_z_303"></div>
<span class="exam_z_302_s02">题号</span>




</div>







</div>






</div>
</div>