<div>
<div style="height: 800px;">
<div class="right_01"><span style="" class="sc_b">各班成绩整体对比</span></div>
<div class="sc_101">
<span style="">学校
<select>
<option value="">请选择学校</option>
      <option value="">一</option>
      <option value="">二</option>
      <option value="">三</option>
     </select>
		</span>
		<span style="">科目
<select>
<option value="">请选择科目</option>
      <option value="">语文</option>
      <option value="">数学</option>
      <option value="">英语</option>
     </select>
		</span>
<button type="" class="determine">导出报表</button>
</div>
<div class="sc_tab">
<div class="sc_102">
<table cellspacing="0" border="1" bordercolor="#cccccc">
  <tr>    
    <th>单位</th>
    <th>学科</th>
     <th>实考人数</th>
     <th>最高分</th>
     <th>最低分</th>
    <th>全距</th>
    <th>均分</th>
    <th>优秀数</th>
    <th>优秀率</th>
    <th>及格数</th>
   <th>及格率</th>
   <th>标准差</th>


  </tr>
  <tr>
    <td>青浦高中</td> 
    <td>物理</td>
    <td>100</td>
     <td>100</td>
     <td>100</td>
     <td>0</td>
    <td>0</td>
    <td>90</td>
    <td>80</td>
    <td>70</td>  
    <td>90%</td> 
    <td>2</td>


  </tr>
<tr>
     <td>青浦高中</td>
    <td>物理</td>
     <td>100</td>
     <td>100</td>
     <td>100</td>
     <td>0</td>
      <td>0</td>
    <td>90</td>
    <td>80</td>
    <td>70</td>  
    <td>90%</td>
    <td>2</td>    
  </tr>
<tr>
    <td>青浦高中</td>
    <td>物理</td>
     <td>100</td>
     <td>100</td>
     <td>100</td>
     <td>0</td>
    <td>0</td>
    <td>90</td>
     <td>90%</td>
    <td>80</td>
    <td>70%</td>  
    <td>2</td>
  </tr>
  	</table>
</div>
<div class="sc_201">
<table cellspacing="0" border="1" bordercolor="#cccccc">
  <tr>    
    <th>单位</th>
    <th>学科</th>
     <th>等级A</th>
     <th>等级B</th>
     <th>等级C</th>
    <th>等级D</th>
    <th>等级E</th>
  </tr>
  <tr>
    <td>青浦高中</td> 
    <td>物理</td>
    <td>100</td>
     <td>100</td>
     <td>100</td>
     <td>0</td>
    <td>0</td>

  </tr>
<tr>
     <td>青浦高中</td>
    <td>物理</td>
     <td>100</td>
     <td>100</td>
     <td>100</td>
     <td>0</td>
      <td>0</td>
  </tr>
<tr>
    <td>青浦高中</td>
    <td>物理</td>
     <td>100</td>
     <td>100</td>
     <td>100</td>
     <td>0</td>
    <td>0</td>
  </tr>
  	</table>
</div>

</div>











</div>
</div>