<div style="width: 100%;">
<div class="form_special_top"><span style="" class="form_special_top_b">各科学生调整分</span></div>
<div class="form_special_tab">
 <div style="position:relative;padding-bottom: 500px;">
   <p class="form_special_p01">
<span style="">考试名称
<select class="form_special_km01">
     </select>
    </span>
<span style="">班级
<select class="form_special_km02">
     </select>
    </span>
    <span style="">科目
    <select class="form_special_km03">
     </select>
    </span>
<a><button type="" class="determine" data-id="0">调整参数</button></a>
</p>
<p class="form_special_p02">
<a class="form_special_p02_a">调整参数</a>
<a class="form_special_p02_a01">
前第&nbsp;<i class="form_special_p02_i01">5</i>&nbsp;%&nbsp;;&nbsp;
调整后分数为&nbsp;:&nbsp;<i class="form_special_p02_i02">90</i>&nbsp;%&nbsp;;
&nbsp;后第&nbsp;<i class="form_special_p02_i03">5</i>&nbsp;%&nbsp;名&nbsp;;
&nbsp;调整后分数为&nbsp;:&nbsp;<i class="form_special_p02_i04">60</i>&nbsp;%分&nbsp;;&nbsp;</a>
<a><button type="" class="form_special_p02_btn01" data-id="0">导出</button></a><button type="" class="form_special_p02_btn02" data-id="0">分析</button></p>
<div class="special_change">
  <p class="special_change_p01">调整参数设置</p>
  <div class="special_change02" style="position: relative;">
  <ul class="special_change02_ul">
    <li><a style="float:left;" class="special_change02_ul_a01">排名前百分比：<input type="button" name="" value="5" class="special_change02_input01"><div class="add01" style="position:absolute;"><i class="add_up01 iconfont">&#xe624;</i><i class="add_down01 iconfont">&#xe622;</i></div>%</a>
    <a style="float: right;" class="special_change02_ul_a02">调整后百分比：<input maxlength="3" type="button" name="" value="90" class="special_change02_input02"><div class="add02" style="position:absolute;"><i class="add_up02 iconfont">&#xe624;</i><i class="add_down02 iconfont">&#xe622;</i></div>%</a></li>
    <li>
    <a style="float:left;"  class="special_change02_ul_a03">排名后百分比：<input maxlength="3" type="button" name="" value="5" class="special_change02_input03">%
    <div class="add03" style="position:absolute;"><i class="add_up03 iconfont">&#xe624;</i><i class="add_down03 iconfont">&#xe622;</i></div></a>
    <a style="float: right;" class="special_change02_ul_a04">调整后百分比：<input maxlength="3" type="button" name="" value="60" class="special_change02_input04"><div class="add04" style="position:absolute;"><i class="add_up04 iconfont">&#xe624;</i><i class="add_down04 iconfont">&#xe622;</i></div>%</a></li>
  </ul> 
  
  </div>
  <p class="special_change_p02"><button type="" class="determine" data-id="0">确认调整</button></p>
</div>

<p class="pecial_change_101_table">
<table id="pecial_change_MyTable" style="width: 936px;font-size: medium;" cellspacing="0" border="1" bordercolor="#cccccc">
 <thead>
    <tr class="pecial_change_101_he"> 
    </tr>
  </thead>
  <tbody class="pecial_change_101_bo">
  </tbody>
    </table></p>
 </div>








</div>
<div class="load-bg" style="display:none;">
    <div class="load-animate">
      <img src="./img/load.jpg" alt="" width="200" height="200">
      <p>正在获取中，请稍等...</p>
    </div>
</div>
</div>