<div>
<div id="study_q_ck">
	<div class="right_01"><span style="">班级概况</span></div>
	<div class="study_q_01">
		 <ul class="study_q_km">
			 <li><span>考试名称</span><select class="study_q_km01"></select></li>
			 <li><span>考试班级</span><select class="study_q_km02"></select></li>
       <li><span>考试科目</span><select class="study_q_km03"></select></li>
		 </ul>
	</div>
	<div class="study_q_02">
	<div class="study_q_i">
		<i></i><span>整体概况</span>
<a><button type="" class="study_q_i_btn_01 determine">导出</button></a>
	</div>	
<table cellspacing="0" border="1" bordercolor="#cccccc">
  <tr>
     <th>满分</th>
     <th>平均分</th>
     <th>最高分</th>
     <th>最低分</th>
     <th>及格人数</th>
     <th>优秀人数</th>
     <th>班级人数</th>
     <th>缺考人数</th>
  </tr>
  <tbody class="study_q_02_bo">
  <tr class="study_q_zt">
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>

  
  </tr>
  </tbody>
  </table>
	</div>
<div class="study_q_03">
<div class="study_q_i">
		<i></i><span>分数段分布</span>
<a><button type="" class="study_q_i_btn_02 determine" >导出</button></a>
	</div>

<div class="study_q_03_01">

<div class="study_q_03_02" id="study_q_03_02">
</div>	
</div>		
</div>
<div class="study_q_04">
<div class="study_q_i">
		<i></i><span>班级成绩大幅度变化</span><a><button type="" class="study_q_i_btn_03 determine">导出
    </button></a>
	</div>	
<div class="study_q_04_01">
<div class="study_q_04_02">
<div style="height:317px">
<div class="study_q_04_s">
	<span>班级成绩大幅进步</span>
</div>
<table cellspacing="0" border="1" bordercolor="#cccccc"  class="study_q_dfj">
  <tr>
     <th>次序</th>
     <th>姓名</th>
     <th>班级级排名</th>
    <th>排名提升</th>
  </tr>
  <tbody class="study_q_04_bo">
  <tr>
    <td>1</td>
    <td>0</td>
    <td>0</td>
    <td><span>0</span><i class="iconfont">&#xe627;</i></td>
  </tr>
 <tr>
    <td>2</td>
    <td>0</td>
    <td>0</td>
    <td><span>0</span><i class="iconfont">&#xe627;</i></td>
  </tr>
   <tr>
    <td>3</td>
    <td>0</td>
    <td>0</td>
    <td><span>0</span><i class="iconfont">&#xe627;</i></td>
  </tr>
   <tr>
    <td>4</td>
    <td>0</td>
    <td>0</td>
    <td><span>0</span><i class="iconfont">&#xe627;</i></td>
  </tr>
   <tr>
    <td>5</td>
    <td>0</td>
    <td>0</td>
    <td><span>0</span><i class="iconfont">&#xe627;</i></td>
  </tr>
  </tbody>
  </table>
  </div>
<div class="study_q_04_s" style="background:#f7c07c; margin-top:34px;">
	<span>班级前五名</span>
</div>
<table cellspacing="0" border="1" bordercolor="#cccccc"  class="study_q_04_01_tab" id="study_q_q5">
  <tr>
     <th>班级排名</th>
     <th>姓名</th>
  </tr>
  <tbody class="study_q_04_bo">
  <tr>
    <td>0</td>
    <td>0</td>
  </tr>
 <tr>
    <td>0</td>
    <td>0</td>
  </tr>
   <tr>
    <td>0</td>
    <td>0</td>
  </tr>
   <tr>
    <td>0</td>
    <td>0</td>
  </tr>
   <tr>
    <td>0</td>
    <td>0</td>
  </tr>
  </tbody>
  </table>
</div>
<span class="study_q_04_line"><span>
<div class="study_q_04_03">
<div style="height:317px">
<div class="study_q_04_s" style="background:#31bc91">
	<span>班级级成绩大幅退步</span>
</div>
	<table cellspacing="0" border="1" bordercolor="#cccccc"  class="study_q_dft">
  <tr>
     <th>次序</th>
     <th>姓名</th>
     <th>班级排名</th>
    <th>排名下降</th>
  </tr>
 <tbody class="study_q_04_bo">
  <tr>
    <td>1</td>
    <td>0</td>
    <td>0</td>
    <td><span>0</span><i class="iconfont">&#xe628;</i></td>
  </tr>
 <tr>
    <td>2</td>
    <td>0</td>
    <td>0</td>
    <td><span>0</span><i class="iconfont">&#xe628;</i></td>
  </tr>
   <tr>
    <td>3</td>
    <td>0</td>
    <td>0</td>
    <td><span>0</span><i class="iconfont">&#xe628;</i></td>
  </tr>
   <tr>
    <td>4</td>
    <td>0</td>
    <td>0</td>
    <td><span>0</span><i class="iconfont">&#xe628;</i></td>
  </tr>
   <tr>
    <td>5</td>
    <td>0</td>
    <td>0</td>
    <td><span>0</span><i class="iconfont">&#xe628;</i></td>
  </tr>
</tbody>
  </table>
  </div>
  <a><button type="" class="study_q_i_btn_04 determine" style="position: absolute;right:-30px;margin-top:2px;">导出</button></a>
<div class="study_q_04_s" style="background:#5fa3ed; margin-top:34px;">
	<span>班级后五名</span>
</div>
<table cellspacing="0" border="1" bordercolor="#cccccc"  class="study_q_04_01_tab" id="study_q_h5">
  <tr>
     <th>班级排名</th>
     <th>姓名</th>
  </tr>
  <tbody class="study_q_04_bo">
  <tr>
    <td>0</td>
    <td>0</td>
  </tr>
 <tr>
    <td>0</td>
    <td>0</td>
  </tr>
   <tr>
    <td>0</td>
    <td>0</td>
  </tr>
   <tr>
    <td>0</td>
    <td>0</td>
  </tr>
   <tr>
    <td>0</td>
    <td>0</td>
  </tr>
  </tbody>
  </table>
</div>
</div>
</div>
<div class="study_q_05">
<div class="study_q_i">
		<i></i><span>班级客观题各小题得分分析</span>
<a><button type="" class="study_q_i_btn_05 determine">导出</button></a>
	</div>		
<div class="study_q_05_01">
<table cellspacing="0" border="1" bordercolor="#cccccc" >
  <thead>
  <tr>
     <th>题型</th>
     <th>平均分</th>
     <th>题号</th>
    <th>选项A</th>
    <th>选项B</th>
     <th>选项C</th>
     <th>选项D</th>
    <th>正确答案</th>
    <th>正确率</th>
     <th>详情</th>  
  </tr>
  </thead>
 </table>
<div class="study_q_05_tb_div">
  <table cellspacing="0" border="1" bordercolor="#cccccc" >
  <tbody class="study_q_05_tb">
  </tbody>

  </table>
</div>
<table cellspacing="0" border="1" bordercolor="#cccccc"  class="study_q_05_tab">
 <thead>
  <tr>
     <th>题型</th>
     <th>平均分</th>
     <th>题号</th>
    <th>T</th>
     <th>F</th>
    <th>正确答案</th>
    <th>正确率</th>
     <th>详情</th>  
  </tr>
  </thead>
  </table>
  <div class="study_q_05_tb02_div">
  <table cellspacing="0" border="1" bordercolor="#cccccc" >
  <tbody class="study_q_05_tb02">
  </tbody>
  </table>
  </div>
</div>
</div>
<!-- 成绩单 -->
<div class="study_q_06">
<div class="study_q_i">
		<i></i><span>成绩单</span>
<a><button type="" class="study_q_i_btn_06 determine">导出</button></a></div>
<div class="study_q_06_1">
<table cellspacing="0" border="1" bordercolor="#cccccc" class="study_q_06_tab">

  
  <thead>
  <tr>    
    <th>姓名</th>
    <th><span></span>成绩</th>
     <th>等级</th>
     <th>班级排名</th>
    <th>名次变化</th>
    <th colspan="3">操作</th>
  </tr>
  </thead> 
  <tbody id="study_q_i_btn_05c">
  </tbody>
 </table>
</div>	
</div>
<!-- 答题卡 -->
<div class="ans">
<div class="ans_01">查看答题卡<i class="iconfont">&#xe61b;</i></div>
<div class="ans_02"><span style="float: left;">查看页码</span><!-- <a>1</a><a>2</a><a>3</a> --></div>

<div class="ans_03"><a id="img_add">+</a><a id="img_up">-</a></div>
<div class="ans_img">

<img src="img/form05.png" alt="" id="ans_img" class="ui-widget-content">

</div>
</div>
<!-- 答题卡 -->

</div>
<div class="study_q_ck">
<div class="right_01" style="margin-bottom: 30px"><span style="font-weight: normal;"><i class="iconfont" style="margin-right:15px; "
 id="study_q_ck_i"></i><a class="study_q_ck_biao"></a></span></div>


<div class="study_q_i">
    <i></i><span>小题得分</span>
  </div>  
<table cellspacing="0" border="1" bordercolor="#cccccc">
  <thead>
 
  
  <tr>    
    <th colspan="2">第<a  class="study_q_ck_a1">1</a>题&nbsp;&nbsp;答案分布(<a  class="study_q_ck_a2">正确答案A</a>)</th>
   
     
  </tr>
  </thead>
  <tbody class="xiaoti_mark">
   
  
  <tr>
    <td>选项A</td>
    <td class="study_q_xuan_a"></td>
     
  </tr>
  <tr>
     <td>选项B</td>
    <td class="study_q_xuan_b"></td>
    
  </tr>
  <tr>
    <td >选项C</td>
    <td class="study_q_xuan_c"></td>
  </tr>
  <tr>
    <td>选项D</td>
    <td class="study_q_xuan_d"></td>
  </tr>
  </tbody>
<tbody class="xiaoti_mark02">
  <tr>
    <td>T</td>
    <td class="study_q_xuan_t"></td>
     
  </tr>
  <tr>
     <td>F</td>
    <td class="study_q_xuan_f"></td>
    
  </tr>
  </tbody>
    </table>  
</div>










</div>