<div>
<div class="exam_h_x01">	
<div class="right_01"><span style="" class="exam_h_b">各班成绩整体对比</span></div>
<!-- <div class="exam_h_101">
<span style="">考试名称
<select class="exam_h_km01">
     </select>
		</span>
<span style="">班级
<select class="exam_h_km02">
     </select>
		</span>
		<span style="">科目
    <select class="exam_h_km03">
     </select>
		</span>
   <span style="">人数
    <select class="exam_h_rs">
    <option value="50">50</option>
   <option value="100">100</option>
     </select>
    </span>
<a><button type="" class="determine" data-id="0">导出报表</button></a>
</div> -->
<div class="exam_h_tab">
<div>
<p class="exam_h_102_101">
<span style="">考试名称
<select class="exam_h_102_km01"  style="width: 280px">
     </select>
    </span>
<span style="display: none;">班级
<select class="exam_h_102_km02">
     </select>
    </span>
    <span style="">科目
    <select class="exam_h_102_km03">
     </select>
    </span>
<a><button type="" class="determine" data-id="0">导出报表</button></a>
</p>


<!-- <table cellspacing="0" border="1" bordercolor="#cccccc">
  <thead >
    <tr class="exam_h_102_he"></tr>
  </thead>
  <tbody class="exam_h_102_bo">
  </tbody>
  	</table> -->
    <p class="exam_h_102" style="margin-bottom:400px;margin-left: 35px;">
<table id="MyTable_102"  cellspacing="0" border="1" bordercolor="#cccccc" class="exam_h_601_tab">
 <thead>
    <tr class="exam_h_102_he"> 
    </tr>
  </thead>
  <tbody class="exam_h_102_bo">
  </tbody>
    </table>
    </p>
</div>
<div class="exam_h_201">
<p class="exam_h_201_101">
<span style="">考试名称
<select class="exam_h_201_km01"  style="width: 280px">
     </select>
    </span>
<span style="display: none;">班级
<select class="exam_h_201_km02">
     </select>
    </span>
    <span style="">科目
    <select class="exam_h_201_km03">
     </select>
    </span>
    
<a><button type="" class="determine" data-id="0">导出报表</button></a>
</p>
<table cellspacing="0" border="1" bordercolor="#cccccc">
 <thead >
    <tr class="exam_h_201_he"></tr>
  </thead>
  <tbody class="exam_h_201_bo">
  </tbody>
  	</table>
    <div class="study_q_i" style="margin:20px 0px 0px 35px;">
    <i></i><span>班级等级分布图</span>
  </div>
    <div style="position: relative;">
      
    <div id="manyColumn" style="width:900px;height:400px;margin: 0 auto;"></div>
   </div>
</div>
<div style="display: none;">
<p class="exam_h_301_101">
<span style="">考试名称
<select class="exam_h_301_km01"  style="width: 280px">
     </select>
    </span>
<span style="">班级
<select class="exam_h_301_km02">
     </select>
    </span>
    <span style="display: none;">科目
    <select class="exam_h_301_km03">
     </select>
    </span>
<a><button type="" class="determine" data-id="0" style="display: none;">导出报表</button></a>
</p>
<p id="exam_h_301" class="exam_h_301" ></p>
</div>
<div class="exam_h_401">
<p class="exam_h_401_101">
<span style="">考试名称
<select class="exam_h_401_km01"  style="width: 280px">
     </select>
    </span>
<span style="display: none;">班级
<select class="exam_h_401_km02">
     </select>
    </span>
    <span style="">科目
    <select class="exam_h_401_km03">
     </select>
    </span>
    <span style="">人数
    <select class="exam_h_rs">
    <option value="50">50</option>
   <option value="100">100</option>
     </select>
    </span>
<a><button type="" class="determine" data-id="0" style="display: none;">导出报表</button></a>
</p>

<div class="study_q_i">
		<i></i><span>学生名次</span>
	</div>	
<div id="exam_h_402"></div>
<table cellspacing="0" border="1" bordercolor="#cccccc">
  <tr>    
    <th>班级</th>
    <th>所占人数</th>
     
  </tr>
  <tbody class="exam_h_402_bo">
    
  </tbody>
  

  	</table>	
</div>
<!-- 等级 -->
<div class="exam_h_501" style="margin-bottom:400px;display: none;">
<p class="exam_h_501_101">
<span style="">考试名称
<select class="exam_h_501_km01"  style="width: 280px">
     </select>
    </span>
<span style="">班级
<select class="exam_h_501_km02">
     </select>
    </span>
    <span style="display: none;" >科目
    <select class="exam_h_501_km03">
     </select>
    </span>
<a><button type="" class="determine" data-id="0" style="display: none;">导出报表</button></a>
</p>

  <table cellspacing="0" border="1" bordercolor="#cccccc">
 <thead >
    <tr class="exam_h_501_he">
      <!-- <th>等级<th> -->
    </tr>
  </thead>
  <tbody class="exam_h_501_bo">
 <!--  <tr>
      <td>A<td>
       <td>1&nbsp;&nbsp;10%<td>
       <td>2<td>
       <td>3<td>
       <td>4<td>
       <td>5<td>
       <td>6<td>
       <td>7<td>
       <td>8<td>
       <td>9<td>
    </tr> -->
  </tbody>
    </table> 
</div>
<div style="display: none;">
<!-- <div class="exam_h_602" style="margin-left: 35px;"> -->
<p class="exam_h_601_101">
<span style="">考试名称
<select class="exam_h_601_km01"  style="width: 280px">
     </select>
    </span>
<span style="display: none;">班级
<select class="exam_h_601_km02">
     </select>
    </span>
    <span style="">科目
    <select class="exam_h_601_km03">
     </select>
    </span>
<a><button type="" class="determine" data-id="0" style="display: none;">导出报表</button></a>
</p>
<p class="exam_h_601" style="margin-bottom:400px;margin-left: 35px;">
<table id="MyTable"  cellspacing="0" border="1" bordercolor="#cccccc" class="exam_h_601_tab">
 <thead>
    <tr class="exam_h_601_he"> 
    </tr>
  </thead>
  <tbody class="exam_h_601_bo">
  </tbody>
    </table>
    </p>
</div>
</div>
</div>






</div>