<div>
<div class="exam_h_x01">	
<div class="right_01"><span style="" class="exam_h_b">各班成绩整体对比</span></div>
<div class="exam_h_101">
<span style="">考试名称
<select class="exam_h_km01">
     </select>
		</span>
<span style="">班级
<select class="exam_h_km02">
     </select>
		</span>
		<span style="">科目
    <select class="exam_h_km03">
     </select>
		</span>
   <span style="">人数
    <select class="exam_h_rs">
    <option value="50">50</option>
   <option value="100">100</option>
     </select>
    </span>
<a><button type="" class="determine" data-id="0">导出报表</button></a>
</div>
<div class="exam_h_tab">
<div class="exam_h_102">
<table cellspacing="0" border="1" bordercolor="#cccccc">
  <thead >
    <tr class="exam_h_102_he"></tr>
  </thead>
  <tbody class="exam_h_102_bo">
  </tbody>
  	</table>
</div>
<div class="exam_h_201">
<table cellspacing="0" border="1" bordercolor="#cccccc">
 <thead >
    <tr class="exam_h_201_he"></tr>
  </thead>
  <tbody class="exam_h_201_bo">
  </tbody>
  	</table>
    <div class="study_q_i" style="margin:20px 0px 0px 35px;">
    <i></i><span>班级等级分布图</span>
  </div>
    <div style="position: relative;">
      
    <div id="manyColumn" style="width:900px;height:400px;margin: 0 auto;"></div>
   </div>
</div>
<div class="exam_h_301" id="exam_h_301">
	
</div>
<div class="exam_h_401">
<div class="study_q_i">
		<i></i><span>学生名次</span>
	</div>	
<div id="exam_h_402"></div>
<table cellspacing="0" border="1" bordercolor="#cccccc">
  <tr>    
    <th>班级</th>
    <th>所占人数</th>
     
  </tr>
  <tbody class="exam_h_402_bo">
    
  </tbody>
  

  	</table>	
</div>
<!-- 等级 -->
<div class="exam_h_501" style="margin-bottom:400px;display: none;">
  <table cellspacing="0" border="1" bordercolor="#cccccc">
 <thead >
    <tr class="exam_h_601_he">
      <th>等级<th>
      <th>语文<th>
      <th>数学<th>
      <th>英语<th>
      <th>物理<th>
      <th>化学<th>
      <th>生物<th>
      <th>政治<th>
      <th>历史<th>
      <th>地理<th>
    </tr>
  </thead>
  <tbody class="exam_h_601_bo">
  <tr>
      <td>A<td>
       <td>1&nbsp;&nbsp;10%<td>
       <td>2<td>
       <td>3<td>
       <td>4<td>
       <td>5<td>
       <td>6<td>
       <td>7<td>
       <td>8<td>
       <td>9<td>
    </tr>
     <tr>
      <td>B<td>
       <td>1&nbsp;&nbsp;10%<td>
       <td>2<td>
       <td>3<td>
       <td>4<td>
       <td>5<td>
       <td>6<td>
       <td>7<td>
       <td>8<td>
       <td>9<td>
    </tr>
     <tr>
      <td>C<td>
       <td>1&nbsp;&nbsp;10%<td>
       <td>2<td>
       <td>3<td>
       <td>4<td>
       <td>5<td>
       <td>6<td>
       <td>7<td>
       <td>8<td>
       <td>9<td>
    </tr>
     <tr>
      <td>D<td>
       <td>1&nbsp;&nbsp;10%<td>
       <td>2<td>
       <td>3<td>
       <td>4<td>
       <td>5<td>
       <td>6<td>
       <td>7<td>
       <td>8<td>
       <td>9<td>
    </tr>
     <tr>
      <td>E<td>
       <td>1&nbsp;&nbsp;10%<td>
       <td>2<td>
       <td>3<td>
       <td>4<td>
       <td>5<td>
       <td>6<td>
       <td>7<td>
       <td>8<td>
       <td>9<td>
    </tr>
  </tbody>
    </table> 
</div>
<div class="exam_h_601" style="margin-bottom:400px;display: none;">
  <table cellspacing="0" border="1" bordercolor="#cccccc">
 <thead >
    <tr class="exam_h_601_he">
      <th>班级<th>
      <th>任课老师<th>
      <th>平均分<th>
      <th>本次名次<th>
      <th>上次名次<th>
      <th>标准差<th>
      <th>偏离度<th>
      <th>优秀率<th>
      <th>合格率<th>
      <th>A<th>
      <th>B<th>
      <th>C<th>
      <th>D<th>
      <th>E<th>
      <th>统计／实考／应考<th>
    </tr>
  </thead>
  <tbody class="exam_h_601_bo">
  <tr class="exam_h_601_he">
      <td>全年级<td>
      <td>任勇<td>
     <td>64.4<td>
     <td>64.4<td>
     <td>64.4<td>
     <td>6.56<td>
      <td>-0.06<td>
     <td>-0.0%<td>
      <td>78.8%<td>
     <td><p>35</p><p>78.8%</p><td>
     <td><p>35</p><p>78.8%</p><td>
      <td><p>35</p><p>78.8%</p><td>
      <td><p>35</p><p>78.8%</p><td>
    <td><p>35</p><p>78.8%</p><td>
      <td>119/119/119<td>
    </tr>
  </tbody>
    </table> 
</div>
</div>
</div>






</div>