<div>
<div class="exam_h_x01">	
<div class="right_01"><span style="" class="exam_h_b">各班成绩整体对比</span></div>
<div class="exam_h_101">
<span style="">年级
<select>
<option value="">请选择年级</option>
      <option value="">一</option>
      <option value="">二</option>
      <option value="">三</option>
     </select>
		</span>
<span style="">班级
<select>
<option value="">请选择班级</option>
      <option value="">一</option>
      <option value="">二</option>
      <option value="">三</option>
     </select>
		</span>
		<span style="">科目
<select>
<option value="">请选择科目</option>
      <option value="">语文</option>
      <option value="">数学</option>
      <option value="">英语</option>
     </select>
		</span>
<button type="" class="determine">导出报表</button>
</div>
<div class="exam_h_tab">
<div class="exam_h_102">
<table cellspacing="0" border="1" bordercolor="#cccccc">
  <tr>    
    <th>序号</th>
    <th>班级</th>
     <th>科目</th>
     <th>班主任</th>
     <th>班级均分</th>
    <th>班级均分名次</th>
    <th>班最高分</th>
    <th>班最低分</th>
    <th>班标准差</th>
    <th>班-级平均分差</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1班</td>
    <td>物理</td>
     <td>陈金城</td>
     <td>395.5</td>
     <td>3</td>
    <td>563.5</td>
    <td>36</td>
    <td>114.5</td>
    <td>-20.8</td>  
  </tr>
<tr>
      <td>2</td>
    <td>2班</td>
    <td>物理</td>
     <td>冯春丽</td>
     <td>364.1</td>
     <td>7</td>
    <td>561</td>
    <td>23</td> 
    <td>158.1</td>
    <td>-47.8</td>      
  </tr>
<tr>
    <td>3</td>
    <td>3班</td>
    <td>物理</td>
     <td>冯丽</td>
     <td>400.7</td>
     <td>2</td>
    <td>569.5</td>
    <td>59.5</td>
    <td>102.2</td>
    <td>-11.2</td>   
  </tr>
  	</table>
</div>
<div class="exam_h_201">
<table cellspacing="0" border="1" bordercolor="#cccccc">
  <tr>    
    <th>班级</th>
    <th>学科</th>
     <th>等级A</th>
     <th>等级B</th>
    <th>等级C</th>
    <th>等级D</th>
    <th>等级E</th>
    <th>查看</th>
  </tr>
  <tr>
    <td>高一1班</td>
    <td>物理</td>
     <td>4</td>
     <td>10</td>
     <td>3</td>
    <td>6</td>
    <td>2</td>
    <td><span>详细</span></td>
  </tr>
<tr>
     <td>高一2班</td>
    <td>物理</td>
     <td>4</td>
     <td>10</td>
     <td>3</td>
    <td>6</td>
    <td>2</td>
    <td><span>详细</span></td>    
  </tr>
<tr>
    <td>高一3班</td>
    <td>物理</td>
     <td>4</td>
     <td>10</td>
     <td>3</td>
    <td>6</td>
    <td>2</td>
    <td><span>详细</span></td> 
  </tr>
  	</table>
</div>
<div class="exam_h_301" id="exam_h_301">
	
</div>
<div class="exam_h_401">
<div class="study_q_i">
		<i></i><span>学生名次</span>
	</div>	
<div id="exam_h_402"></div>
<table cellspacing="0" border="1" bordercolor="#cccccc">
  <tr>    
    <th>班级</th>
    <th>所占人数</th>
     
  </tr>
  <tr>
    <td>高一1班</td>
    <td>10</td>
     
  </tr>
<tr>
     <td>高一2班</td>
    <td>10</td>
    
  </tr>
<tr>
    <td>高一3班</td>
    <td>3</td>
  </tr>
  <tr>
    <td>高一4班</td>
    <td>7</td>
  </tr>
  <tr>
    <td>高一5班</td>
    <td>70</td>
  </tr>
  	</table>	
</div>
</div>
</div>
<div class="exam_h_201_x">
<div class="right_01" style="margin-bottom: 30px"><span style="font-weight: normal;"><i class="iconfont" style="margin-right:15px; "
 id="exam_h_201_x_i"></i>班级等级分布详细</span></div>


<div class="study_q_i">
		<i></i><span>班级等级分布</span>
<button type="" class="determine">导出</button>
	</div>	
<table cellspacing="0" border="1" bordercolor="#cccccc">
  <tr>    
    <th colspan="2">高一（1）班&nbsp; &nbsp;物理</th>
   
     
  </tr>
  <tr>
    <td>等级A</td>
    <td><a>张三丰</a><a>张三丰</a><a>张三丰</a><a>张三丰</a><a>张三丰</a>
    </td>
     
  </tr>
<tr>
     <td>等级B</td>
    <td><a>张三丰</a><a>张三丰</a><a>张三丰</a></td>
    
  </tr>
<tr>
    <td>等级C</td>
    <td><a>张三丰</a><a>张三丰</a><a>张三丰</a></td>
  </tr>
  <tr>
    <td>等级D</td>
    <td><a>张三丰</a><a>张三丰</a></td>
  </tr>
  <tr>
    <td>等级E</td>
    <td><a>张三丰</a></td>
  </tr>
  	</table>	





</div>






</div>