
<div>
<div class="mark_01">
	<span class="mark_span_01">成绩生成日志</span>
	<span style="color: #666666;float: right;line-height: 44px;">科目
	<select class="mark_01_select">
  <option value ="全部科目">全部科目</option>
</select></span>
</div>	
<div class="mark_02">
	<div class="mark_02_01">
	<ul>
		<li>考试科目</li>
		<li>最后分析时间</li>
		<li>最后分析老师</li>
	</ul>
	</div>
	<div id="mark_02_ul">
	<ul class="mark_02_ul">
	</ul>
</div>
</div>

<div class="mart_set">
	<div class="mart_set_01">
	<span>分析参数设置</span>
</div>
<div class="mart_set_02">
	
	<span style="margin-bottom:10px;font-weight: bold;color: #333333;">定义分数相对于总分的百分比</span>
    <span>总分<input type="" name="" value="100" id="z_mark" ></span>
	<span>及格分数线%<input type="" name="" value="60" id="jg_mark"></span>
	<span>优秀分数线%<input type="" name="" value="90" id="yx_mark"></span>
	
</div>
	<div class="mart_set_03">

	<span>
	<select class="mart_set_03_select" name="" style="width: 230px;height: 30px;font-size:14px;">
		<option value="" data-id="0">定义等级相对于总人数的百分比</option>
		<option value="" data-id="1">定义等级相对于总分数的分数段</option>
	</select></span>
	<ul id="ul_iLabel">
		<li><input value="A" class="level_01"><input value="15%" class="level_02"></input><button type="">-</button></li>
		<li><input value="B"  class="level_01"></input><input value="30%" class="level_02"></input><button type="">-</button></li>
		<li><input value="C"  class="level_01"></input><input value="30%" class="level_02"></input><button type="">-</button></li>
		<li><input value="D"  class="level_01"></input><input value="20%" class="level_02"></input><button type="">-</button></li>
		<li><input value="E"  class="level_01"></input><input value="5%" class="level_02"></input><button type="">-</button></li>	
	</ul>
	<div style="margin:6px 0 15px 0; width: 92px;height: 
	32px;float: left;" class="mark_add"><img src="img/form03.png" alt=""></div>
	</div>
	<button type="" class="btn_1 determine">分析</button>
	<div class="mart_set_04" id="set_04">
	<i class="iconfont">&#xe61b;</i>
</div>


	</div>
	<div class="load-bg">
		<div class="load-animate">
			<img src="./img/load.jpg" alt="" width="200" height="200">
			<p>正在分析中，请稍等...</p>
		</div>
</div>




</div>
