<div>
<div class="right_01">
<span class="span_1">考试状况</span>
</div>
<div class="study_q_01">
    <ul class="study_q_01_mark">
      <li><span>考试名称</span>
      <select class="exam_name">

   </select>
      </li>
      <li >
      <span>考试科目</span>
      <select class="exam_sub">
   
     </select>
      </li> 

    </ul>
  </div>
<div class="right_02" >
<div class="mark_1 ">
<i class="mark_1_i "></i>
<span>基本概况</span>	
</div>
<div class="right_02_l">
<img src="img/form01.png" alt="">
<img src="img/form02.png" alt="">
<div class="r2_02">
<ul>
	<li><a>考试人数<span class="r2_02_01">0</span></a></li>
	<li><a>平均分<span class="r2_02_02">0</span></a></li>

</ul>	
</div>
</div>
<div class="right_02_r" id="right_02_r">

</div>


<div style="position:absolute;right: 25px;
    top:40px;">
<img src="img/form04.png" alt="">
</div>

<div class="r2_1">
<ul>
	<li><a >平均得分率<span class="r2_02_03">0</span></a></li>
	<li><a >及格率<span class="r2_02_04">0</span></a></li>
	<li><a >优秀率<span class="r2_02_05">0</span></a></li>
	<li><a >标准差<span class="r2_02_06">0</span></a></li>

</ul>	
</div>
</div>
<div class="mark">
<i class="mark_i"></i>
<span>分数段分布</span>	
</div>
<div style="position: relative;"><span style="position: absolute;top: 10px;left: 40px;font-size: 14px;color: #666666;">人数</span></div>
<div class="right_03" id="right_03" style="width:900px;
   height: 335px;"> 
</div>
 <div style="position: relative;"><span style="position: absolute;top:-30px;right:10px;font-size: 14px;color: #666666;">分数段</span></div> 

<div class="tab">
<div class="mark_03">
<i class="mark_i"></i>
<span>年级学科趋势</span>	
</div>
<div style="position: relative;"><span style="position: absolute;top: 10px;left:0px;font-size:14px;color: #666666;">分数</span></div>
<div class="right_04" id="right_04" style="width:900px;
   height: 272px;">
</div>
</div>

<div class="mark_03">
<i class="mark_i"></i>
<span>年级成绩大幅变化</span>
<select id="myselect">

  <option value="10">10</option>
  <option value="20">20</option>
  <option value="30">30</option>
  <option value="40">40</option>
   <option value="50">50</option>
</select>
<span>显示人数</span>	
</div>
<div class="right_05" id="right_5">
<div class="r5_1">
<div class="r5_10">
<span>年级成绩大幅进步</span>
</div>
<div class="r5_11" id="r5_11">

<table cellspacing="0" border="1" style="border-collapse:collapse;width:411px;border-color:#cccccc"  bordercolor="#cccccc" >
<thead>
  <tr>
    <th>姓名</th>
     <th>年级排名</th>
     <th>排名提升</th>
  </tr>
  </thead>
  </table>
<div style="width: 441px;max-height: 441px;overflow-x:auto;">
<table cellspacing="0" border="1" style="border-collapse:collapse;width:411px;border-color:#cccccc"  bordercolor="#cccccc" >
  <tbody id="r5_11_tbody">
    
  </tbody>
</table>
</div>

</div>

</div>
<div class="r5_2">
<div class="r5_21">
<span>年级成绩大幅退步</span>
</div>
<table cellspacing="0" border="1" style="border-collapse:collapse;width:411px;border-color:#cccccc"  bordercolor="#cccccc">
  <thead>
  <tr>
    <th>姓名</th>
     <th>年级排名</th>
     <th>排名下降</th>
  </tr>
  </thead>
  </table>
  <div style="width: 441px;max-height:441px;overflow-x:auto;">
<table cellspacing="0" border="1" style="border-collapse:collapse;width:411px;border-color:#cccccc"  bordercolor="#cccccc">
 
  <tbody id="r5_11_tbody02">
  </tbody>
</table>
</div>

</div>



</div>




</div>