<div>
    <div class="study_k">
        <div class="right_01"><span style="" class="study_k_b">学科综合分析</span></div>
        <!-- 学科综合分析 -->
        <div class="study_k_tab">
            <div>
                <p class="study_k_102_101">
                    <span style="">考试名称
<select class="study_k_102_km01" style="width: 280px">
</select>
</span>
                    <span style="">班级
<select class="study_k_102_km02">

     </select>
    </span>
                    <span style="">科目
<select class="study_k_102_km03">

     </select>
    </span>
                    <a>
                        <button type="" class="determine" data-id="0">导出报表</button>
                    </a>
                </p>
                <p class="study_k_102" style="padding-left:40px;overflow: hidden;display:block;">
                    <table id="MyTable_all" style="width: 960px;font-size: medium;" border="1" cellspacing="0" cellpadding="0" bordercolor="#cccccc">
                        <thead>
                            <tr>
                                <th>班级</th>
                                <th>学科</th>
                                <th>平均分</th>
                                <th>最高分</th>
                                <th>最低分</th>
                                <th>全距</th>
                                <th>优秀人数</th>
                                <th>优秀率</th>
                                <th>及格人数</th>
                                <th>及格率</th>
                                <th>不及格人数</th>
                                <th>标准差</th>
                            </tr>
                        </thead>
                        <tbody class="study_k_102_bo">
                        </tbody>
                    </table>
                </p>
            </div>
            <!-- 总分和总分排名 -->
            <div class="study_k_201">
                <p class="study_k_201_101">
                    <span style="">考试名称
<select class="study_k_201_km01" style="width: 280px">
</select>
</span>
                    <span style="">班级
<select class="study_k_201_km02">

     </select>
    </span>
                    <span style="display: none;">科目
<select class="study_k_201_km03">

     </select>
    </span>
                    <a>
                        <button type="" class="determine" data-id="1">导出报表</button>
                    </a>
                </p>
                <table cellspacing="0" border="1" bordercolor="#cccccc">
                    <thead>
                        <tr class="study_k_201_he"></tr>
                    </thead>
                </table>
                <span class="study_k_202">
  <table cellspacing="0" border="1" bordercolor="#cccccc">
  <tbody class="study_k_201_bo">
  </tbody>
  </table>
 </span>
            </div>
            <!-- 单科和单科等级 -->
            <div style="display: none;">
                <p class="study_k_301_101">
                    <span style="">考试名称
<select class="study_k_301_km01" style="width: 280px">
</select>
</span>
                    <span style="">班级
<select class="study_k_301_km02">

     </select>
    </span>
                    <span style="display: none;">科目
<select class="study_k_301_km03">

     </select>
</span>
                    <a>
                        <button type="" class="determine" data-id="3">导出报表</button>
                    </a>
                </p>
                <p class="study_k_301" style="padding-left:40px;overflow: hidden;display:block;">
                    <table id="MyTable_dan" style="width: 960px;font-size: medium;" border="1" cellspacing="0" cellpadding="0" bordercolor="#cccccc">
                        <thead>
                            <tr class="study_k_301_he"></tr>
                        </thead>
                        <tbody class="study_k_301_bo">
                        </tbody>
                    </table>
                </p>
            </div>
            <!-- 各科成绩名次 -->
            <div style="display: none;">
                <p class="study_k_401_101">
                    <span style="">考试名称
<select class="study_k_401_km01" style="width: 280px">
</select>
</span>
                    <span style="">班级
<select class="study_k_401_km02">

     </select>
    </span>
                    <span style="">科目
<select class="study_k_401_km03">

     </select>
    </span>
                    <a>
                        <button type="" class="determine" data-id="4">导出报表</button>
                    </a>
                </p>
                <p class="study_k_401" style="padding-left:40px;overflow: hidden;display:block;">
                    <table id="MyTable_ever" style="width: 960px;font-size: medium;" border="1" cellspacing="0" cellpadding="0" bordercolor="#cccccc">
                        <thead>
                            <tr class="study_k_401_he"></tr>
                        </thead>
                        <tbody class="study_k_401_bo">
                        </tbody>
                    </table>
                </p>
            </div>
            <!-- 语数外综合名次 -->
            <div class="study_k_501">
                <p class="study_k_501_101">
                    <span style="">考试名称
<select class="study_k_501_km01" style="width: 280px">
</select>
</span>
                    <span style="">班级
<select class="study_k_501_km02">

     </select>
    </span>
                    <span style="display: none;">科目
<select class="study_k_501_km03">

     </select>
    </span>
                    <a>
                        <button type="" class="determine" data-id="5">导出报表</button>
                    </a>
                </p>
                <table cellspacing="0" border="1" bordercolor="#cccccc">
                    <thead>
                        <tr class="study_k_501_he"></tr>
                    </thead>
                </table>
                <span class="study_k_502">
  <table cellspacing="0" border="1" bordercolor="#cccccc">
  <tbody class="study_k_501_bo">
  </tbody>
  </table>
 </span>
            </div>
            <!-- 学生详细成绩单 -->
            <div style="display:none">
                <p class="study_k_601_101">
                    <span style="">考试名称
<select class="study_k_601_km01" style="width: 280px">
</select>
</span>
                    <span style="">班级
<select class="study_k_601_km02">

     </select>
    </span>
                    <span style="">科目
<select class="study_k_601_km03">

     </select>
    </span>
                    <a>
                        <button type="" class="determine" data-id="6">导出报表</button>
                    </a>
                </p>
                <p class="study_k_601" style="padding-left:40px;overflow: hidden;">
                    <table id="MyTable" style="width: 960px;font-size: medium;" border="1" cellspacing="0" cellpadding="0" bordercolor="#cccccc">
                        <thead>
                            <tr class="study_k_601_he"></tr>
                        </thead>
                        <tbody class="study_k_601_bo">
                        </tbody>
                    </table>
                </p>
            </div>
            <!-- 各科详细成绩单 -->
            <div style="display:none;">
                <p class="study_k_701_101">
                    <span style="">考试名称
<select class="study_k_701_km01" style="width: 280px">
</select>
</span>
                    <span style="">班级
<select class="study_k_701_km02">

     </select>
    </span>
                    <span style="display:none;">科目
<select class="study_k_701_km03">

     </select>
    </span>
                    <a>
                        <button type="" class="determine" data-id="7">导出报表</button>
                    </a>
                </p>
                <p class="study_k_701" style="padding-left:40px;overflow: hidden;">
                    <table id="MyTable01" style="width: 960px;font-size: medium;" border="1" cellspacing="0" cellpadding="0" bordercolor="#cccccc">
                        <thead>
                            <tr class="study_k_701_he"></tr>
                        </thead>
                        <tbody class="study_k_701_bo">
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
    <div class="load-bg" style="display:none;">
        <div class="load-animate">
            <img src="./img/load.jpg" alt="" width="200" height="200">
            <p>正在获取中，请稍等...</p>
        </div>
    </div>
</div>