<div style="width: 100%;height: 1000px;">
<div class="form_special_top"><span style="" class="form_special_top_b">各科学生调整分</span></div>
<div class="form_special_tab">
 <div style="position:relative;">
   <p class="form_special_p01">
<span style="">考试名称
<select class="form_special_km01">
     </select>
    </span>
<span style="">班级
<select class="form_special_km02">
     </select>
    </span>
    <span style="">科目
    <select class="form_special_km03">
     </select>
    </span>
<a><button type="" class="determine" data-id="0">调整参数</button></a>
</p>
<p class="form_special_p02">
<a class="form_special_p02_a">调整参数</a>
<a class="form_special_p02_a01">
前第&nbsp;<i class="form_special_p02_i01">5</i>&nbsp;%&nbsp;;&nbsp;
调整后分数为&nbsp;:&nbsp;<i class="form_special_p02_i02">90</i>&nbsp;%&nbsp;;
&nbsp;后第&nbsp;<i class="form_special_p02_i03">5</i>&nbsp;%&nbsp;名&nbsp;;
&nbsp;调整后分数为&nbsp;:&nbsp;<i class="form_special_p02_i04">60</i>&nbsp;%分&nbsp;;&nbsp;</a>
<button type="" class="form_special_p02_btn01" data-id="0">导出</button><button type="" class="form_special_p02_btn02" data-id="0">分析</button></p>
<div class="special_change">
  <p class="special_change_p01">调整参数设置</p>
  <div class="special_change02">
  <ul class="special_change02_ul">
    <li><a style="float:left;">排名前百分比：<input maxlength="3" type="" name="" value="5" class="special_change02_input01">%</a>
    <a style="float: right;">调整后百分比：<input maxlength="3" type="" name="" value="90" class="special_change02_input02">%<i>(450分)</i></a></li>
    <li><a style="float:left;">排名后百分比：<input maxlength="3" type="" name="" value="5" class="special_change02_input03">%</a><a style="float: right;">调整后百分比：<input maxlength="3" type="" name="" value="60" class="special_change02_input04">%<i>(300分)</i></a></li>
  </ul> 
  <!-- <div class="add"><a class="add_down"><i class="iconfont">&#xe624;</i></a><a class="add_up"><i class="iconfont">&#xe622;</i></a></div>    -->
  </div>
  <p class="special_change_p02"><button type="" class="determine" data-id="0">确认调整</button></p>
</div>



 </div>








</div>
</div>